{% extends 'templates/base.plain.html.jinja2' %}

{% set title = "Expired authorization" %}

{% block content %}
<p>
    You no longer have access to this dashboard.
    Try going back to the assignment and click "Open dashboard" from there.
</p>
<p>
    If the problem persists, you can
     <a href="https://web.hypothes.is/get-help/?product=LMS_app" target="_blank" rel="noopener noreferrer">open a support ticket</a>
     or visit our <a href="https://web.hypothes.is/help/" target="_blank" rel="noopener noreferrer">help documents</a>.
</p>
{% endblock %}
