{% extends "lms:templates/base.html.jinja2" %}

{% block content %}
  <div style="width: 100%; height: 100%;" id="app"></div>
{% endblock %}

{% block styles %}
  {% for url in  asset_urls("file_picker_v2_css") %}
    <link rel="stylesheet" href="{{ url }}">
  {% endfor %}
{% endblock %}

{% block scripts %}
  {{ super() }}
  {% for url in asset_urls("file_picker_v2_js") %}
    <script async defer src="{{ url }}"></script>
  {% endfor %}
{% endblock %}
