{% extends "lms:templates/base.html.jinja2" %}

{% block content %}
  <main class="modal-content">
    <h1>Assignment Isn't Configured</h1>

    <p class="modal-text">
      This assignment hasn't been configured yet.
      An instructor needs to launch the assignment to configure it.
    </p>
  </main>
{% endblock %}
