{% import "lms:templates/admin/macros.html.jinja2" as macros %}
{% extends "lms:templates/admin/base.html.jinja2" %}
{% block header %}Assignment {{ assignment.id }}{% endblock %}
{% block content %}
<div>
    <fieldset>
          <div class="block has-text-right">
            <a class="button is-primary" target="_blank" href="{{ request.route_url('admin.assignment.dashboard', id_=assignment.id) }}">Open instructor dashboard</a>
          </div>

          {{ macros.disabled_text_field("ID", assignment.id) }}
          {{ macros.disabled_text_field("Resource ID", assignment.resource_link_id) }}
          {{ macros.disabled_text_field("Title", assignment.title) }}
          {{ macros.disabled_text_field("Document", assignment.document_url) }}
          {{ macros.created_updated_fields(assignment) }}
    </fieldset>

    <fieldset class="box mt-6">
      <legend class="label has-text-centered">Course</legend>
      {{ macros.course_preview(request, assignment.course) }}
    </fieldset>

    <fieldset class="box mt-6">
        <legend class="label has-text-centered">Roster</legend>
        {% if roster %}
            {{ macros.roster_table(request, roster) }}
        {% else %}
            <legend class="label has-text-centered">No roster information</legend>
        {% endif %}
    </fieldset>
</div>
{% endblock %}
