<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>
            {% block title %}
                {% if self.header() %}
                    {{ self.header() |striptags }} - LMS Admin
                {% else %}
                    LMS Admin
                {% endif %}
            {% endblock %}
        </title>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"
                integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g=="
                crossorigin="anonymous"
                referrerpolicy="no-referrer"></script>
        {# Data tables #}
        <link rel="stylesheet"
              href="https://cdn.datatables.net/1.13.7/css/jquery.dataTables.css" />
        <script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.js"></script>
        {# Data tables buttons extension #}
        <script src="https://cdn.datatables.net/buttons/2.4.2/js/dataTables.buttons.min.js"></script>
        <link rel="stylesheet"
              href="https://cdn.datatables.net/buttons/2.4.2/css/buttons.dataTables.min.css" />
        <script src="https://cdn.datatables.net/buttons/2.4.2/js/buttons.html5.min.js"></script>
        {# Selectize #}
        <link rel="stylesheet"
              href="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.15.2/css/selectize.default.min.css"
              integrity="sha512-pTaEn+6gF1IeWv3W1+7X7eM60TFu/agjgoHmYhAfLEU8Phuf6JKiiE8YmsNC0aCgQv4192s4Vai8YZ6VNM6vyQ=="
              crossorigin="anonymous"
              referrerpolicy="no-referrer" />
        <link rel="stylesheet"
              href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.15.2/js/selectize.min.js"
                integrity="sha512-IOebNkvA/HZjMM7MxL0NYeLYEalloZ8ckak+NDtOViP7oiYzG5vn6WVXyrJDiJPhl4yRdmNAG49iuLmhkUdVsQ=="
                crossorigin="anonymous"
                referrerpolicy="no-referrer"></script>
        <script src="https://cdn.jsdelivr.net/npm/@vizuaalog/bulmajs@0.12.2/dist/bulma.min.js"></script>
        <style>
            {# For tabs support, see: https://bulmajs.tomerbe.co.uk/docs/0.12/2-core-components/tabs/#}
            .tabs-content .tab-panel {
                display: none;
                list-style: none;
            }
            .tabs-content .tab-panel.is-active {
                display: block;
            }
            .selectize-input {
                min-width: 600px !important;
            }

            .selectize-input::after {
                visibility:hidden;
            }
        </style>
    </head>
    <body>
        {% block base_navbar %}
            <nav class="navbar is-dark" role="navigation" aria-label="main navigation">
                <div class="navbar-brand">
                    <a class="navbar-item" href="{{ request.route_url("admin.index") }}">
                        <p class="is-size-4">ADMIN</p>
                    </a>
                </div>
                <div class="navbar-menu is-active">
                    <div class="navbar-start" style="flex-grow: 1; justify-content: center;">
                        <a class="navbar-item"
                           href="{{ request.route_url("admin.instance.search") }}">Application Instances</a>
                        <a class="navbar-item"
                           href="{{ request.route_url("admin.registrations") }}">LTI Registrations</a>
                        <a class="navbar-item"
                           href="{{ request.route_url("admin.organizations") }}">Organizations</a>
                        <a class="navbar-item" href="{{ request.route_url("admin.email") }}">Email</a>
                        <div class="navbar-end">
                            <div class="navbar-item">
                                <div class="buttons">
                                    <a class="button is-light"
                                       href="{{ request.route_url("pyramid_googleauth.logout") }}">Log out</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
        {% endblock %}
        <div class="block has-text-centered mt-5">
            <h1 class="title">
                {% block header %}{% endblock %}
            </h1>
            <p class="subtitle">
                {% block subtitle %}{% endblock %}
            </p>
        </div>
        {% if request.session.peek_flash("errors") %}
            <section class="section">
                <div class="container">
                    <article class="message is-danger">
                        <div class="message-header">
                            <p>Errors</p>
                        </div>
                        <div class="message-body">
                            {% for error in request.session.pop_flash("errors") %}
                                <ul>
                                    {{ error }}
                                </ul>
                            {% endfor %}
                        </div>
                    </article>
                </div>
            </section>
        {% endif %}
        {% if request.session.peek_flash("validation") %}
            <section class="section">
                <div class="container">
                    <article class="message is-danger">
                        <div class="message-header">
                            <p>Errors</p>
                        </div>
                        <div class="message-body">
                            {% for validation in request.session.pop_flash("validation") %}
                                {% for field, messages in validation.items() %}
                                    <ul>
                                        {{ field }}: {{ messages|join }}
                                    </ul>
                                {% endfor %}
                            {% endfor %}
                        </div>
                    </article>
                </div>
            </section>
        {% endif %}
        {% if request.session.peek_flash("messages") %}
            <section class="section">
                <div class="container">
                    <article class="message is-success">
                        <div class="message-header">
                            <p>Info</p>
                        </div>
                        <div class="message-body">
                            {% for message in request.session.pop_flash("messages") %}
                                <ul>
                                    {{ message }}
                                </ul>
                            {% endfor %}
                        </div>
                    </article>
                </div>
            </section>
        {% endif %}
        <section class="section">
            <div class="container">
                {% block content %}{% endblock %}
            </div>
        </section>

        <script>
          function pathSegments() {
            const currentPath = window.location.pathname;
            // Remove leading and trailing bars
            const trimmedCurrentPath = currentPath.replace(/^\/+|\/+$/g, '');

            return trimmedCurrentPath.split('/');
          }

          function determineActiveSection() {
            // We assume all routes here have a common prefix consisting on three parts
            return pathSegments()[3] ?? 'info';
          }

          function updateActiveTab() {
            const activeSection = determineActiveSection();
            const tabs = document.querySelectorAll('[data-section-id]');

            // Iterate over tabs and tab panels, adding is-active to those which data-section-id matches active section,
            // and removing it for the rest.
            tabs.forEach(tab => {
              tab.classList.toggle('is-active', tab.dataset.sectionId === activeSection);
            });
          }

          // Select the first tab on window load
          window.addEventListener('load', updateActiveTab);
          // Update selected tab on history change
          window.addEventListener('popstate', updateActiveTab);

          // Capture clicks in tabs, to update the URL
          document.querySelectorAll('.tabs li').forEach(tab => {
            tab.addEventListener('click', () => {
              const segments = pathSegments();
              // We assume all routes here have a common prefix consisting on three parts
              const prefix = `/${segments[0]}/${segments[1]}/${segments[2]}/`;
              const newActiveSection = tab.dataset.sectionId;

              window.history.pushState(null, '', `${prefix}${newActiveSection}`);
            });
          });
        </script>
        {% block extra_scripts %}{% endblock %}
    </body>
</html>
