{% extends "lms:templates/admin/base.html.jinja2" %}
{% block header %}
Application instance {{instance.consumer_key}}
{% endblock %}



{% block content %}
<form method="POST" action="{{ request.route_url("admin.instance", consumer_key=instance.consumer_key) }}">
    <input type="hidden" name="csrf_token" value="{{get_csrf_token()}}">
    <div class="field is-horizontal">
      <div class="field-label is-normal">
        <label class="label">Consumer key</label>
      </div>
      <div class="field-body">
        <div class="field">
          <p class="control is-expanded">
            <input class="input" disabled type="text" value="{{instance.consumer_key}}">
          </p>
        </div>
      </div>
    </div>

    <div class="field is-horizontal">
      <div class="field-label is-normal">
        <label class="label">LMS URL</label>
      </div>
      <div class="field-body">
        <div class="field">
          <p class="control is-expanded">
            <input class="input" disabled type="text" value="{{instance.lms_url}}">
          </p>
        </div>
      </div>
    </div>

    <div class="field is-horizontal">
      <div class="field-label is-normal">
        <label class="label">tool consumer instance guid</label>
      </div>
      <div class="field-body">
        <div class="field">
          <p class="control is-expanded">
            <input class="input" disabled type="text" value="{{instance.tool_consumer_instance_guid}}">
          </p>
        </div>
      </div>
    </div>

    <div class="field is-horizontal">
      <div class="field-label is-normal">
        <label class="label">tool consumer info product family code</label>
      </div>
      <div class="field-body">
        <div class="field">
          <p class="control is-expanded">
            <input class="input" disabled type="text" value="{{instance.tool_consumer_info_product_family_code}}">
          </p>
        </div>
      </div>
    </div>

    <div class="field is-horizontal">
      <div class="field-label is-normal">
        <label class="label">tool consumer instance description</label>
      </div>
      <div class="field-body">
        <div class="field">
          <p class="control is-expanded">
            <input class="input" disabled type="text" value="{{instance.tool_consumer_instance_description}}">
          </p>
        </div>
      </div>
    </div>

    <div class="field is-horizontal">
      <div class="field-label is-normal">
        <label class="label">tool consumer instance url</label>
      </div>
      <div class="field-body">
        <div class="field">
          <p class="control is-expanded">
            <input class="input" disabled type="text" value="{{instance.tool_consumer_instance_url}}">
          </p>
        </div>
      </div>
    </div>

    <div class="field is-horizontal">
      <div class="field-label is-normal">
        <label class="label">tool consumer instance name</label>
      </div>
      <div class="field-body">
        <div class="field">
          <p class="control is-expanded">
            <input class="input" disabled type="text" value="{{instance.tool_consumer_instance_name}}">
          </p>
        </div>
      </div>
    </div>

    <div class="field is-horizontal">
      <div class="field-label is-normal">
        <label class="label">tool consumer instance contact email</label>
      </div>
      <div class="field-body">
        <div class="field">
          <p class="control is-expanded">
            <input class="input" disabled type="text" value="{{instance.tool_consumer_instance_contact_email}}">
          </p>
        </div>
      </div>
    </div>

    <div class="field is-horizontal">
      <div class="field-label is-normal">
        <label class="label">tool consumer info version</label>
      </div>
      <div class="field-body">
        <div class="field">
          <p class="control is-expanded">
            <input class="input" disabled type="text" value="{{instance.tool_consumer_info_version}}">
          </p>
        </div>
      </div>
    </div>

    <div class="field is-horizontal">
      <div class="field-label is-normal">
        <label class="label">custom canvas api domain</label>
      </div>
      <div class="field-body">
        <div class="field">
          <p class="control is-expanded">
            <input class="input" disabled type="text" value="{{instance.custom_canvas_api_domain}}">
          </p>
        </div>
      </div>
    </div>

    <div class="field is-horizontal">
      <div class="field-label">
        <label class="label">Sections enabled
      </div>
      <div class="field-body">
        <div class="field is-narrow">
          <div class="control">
            <label class="checkbox">
              <input {% if instance.settings.get("canvas", "sections_enabled") %}checked {% endif%} type="checkbox" name="sections_enabled">
            </label>
          </div>
        </div>
      </div>
    </div>

    <div class="field is-horizontal">
      <div class="field-label">
        <label class="label">Groups enabled
      </div>
      <div class="field-body">
        <div class="field is-narrow">
          <div class="control">
            <label class="checkbox">
              <input {% if instance.settings.get("canvas", "groups_enabled") %}checked {% endif%} type="checkbox" name="groups_enabled">
            </label>
          </div>
        </div>
      </div>
    </div>

    <div class="field is-horizontal">
      <div class="field-label">
        <label class="label">Blackboard files enabled
      </div>
      <div class="field-body">
        <div class="field is-narrow">
          <div class="control">
            <label class="checkbox">
              <input {% if instance.settings.get("blackboard", "files_enabled") %}checked {% endif%} type="checkbox" name="blackboard_files_enabled">
            </label>
          </div>
        </div>
      </div>
    </div>

    <div class="field is-horizontal">
      <div class="field-label">
        <!-- Left empty for spacing -->
      </div>
      <div class="field-body">
        <div class="field">
          <div class="control">
            <input type="submit" class="button is-primary" value="Save"/>
          </div>
        </div>
      </div>
    </div>
</form>
{% endblock %}
