{% import "macros.html.jinja2" as macros %}

{% extends "lms:templates/admin/base.html.jinja2" %}

{% block header %}
Upgrade application instance to LTI 1.3
{% endblock %}

{% block content %}

<fieldset class="box mt-6">
    <legend class="label has-text-centered">Registration</legend>

    {{ macros.registration_preview(request, lti_registration) }}
</fieldset>

<form method="POST" action="{{ request.route_url("admin.instance.upgrade") }}">
    <input type="hidden" name="csrf_token" value="{{get_csrf_token()}}">
    <input type="hidden" name="lti_registration_id" value="{{ lti_registration.id }}">

    <fieldset class="box mt-6">
        <legend class="label has-text-centered">Upgrade existing application instance</legend>
        {{ macros.form_text_field(request, "Consumer key", "consumer_key",
            placeholder="Existing application instance's consumer key. It will be upgraded to LTI 1.3 using this registration") }}
        {{ macros.form_text_field(request, "Deployment ID", "deployment_id") }}
    </fieldset>

    <input type="submit" class="button is-info" value="Upgrade"/>
</form>

{% endblock %}