{% extends "lms:templates/admin/base.html.jinja2" %}
{% block header %}
Installation {{ installation.id }} / {{installation.consumer_key}}
{% endblock %}



{% block content %}
<form method="POST" action="{{ request.route_url("admin.installation", id=installation.id) }}">
    <div class="field is-horizontal">
      <div class="field-label is-normal">
        <label class="label">ID</label>
      </div>
      <div class="field-body">
        <div class="field">
          <p class="control is-expanded">
            <input class="input" disabled type="text" value="{{installation.id}}">
          </p>
        </div>
      </div>
    </div>

    <div class="field is-horizontal">
      <div class="field-label is-normal">
        <label class="label">Consumer key</label>
      </div>
      <div class="field-body">
        <div class="field">
          <p class="control is-expanded">
            <input class="input" disabled type="text" value="{{installation.consumer_key}}">
          </p>
        </div>
      </div>
    </div>

    <div class="field is-horizontal">
      <div class="field-label is-normal">
        <label class="label">LMS URL</label>
      </div>
      <div class="field-body">
        <div class="field">
          <p class="control is-expanded">
            <input class="input" disabled type="text" value="{{installation.lms_url}}">
          </p>
        </div>
      </div>
    </div>


    <div class="field is-horizontal">
      <div class="field-label">
        <label class="label">Sections enabled
      </div>
      <div class="field-body">
        <div class="field is-narrow">
          <div class="control">
            <label class="checkbox">
              <input {% if installation.settings.canvas.sections_enabled %}checked {% endif%} type="checkbox" name="sections_enabled">
            </label>
          </div>
        </div>
      </div>
    </div>

    <div class="field is-horizontal">
      <div class="field-label">
        <label class="label">Groups enabled
      </div>
      <div class="field-body">
        <div class="field is-narrow">
          <div class="control">
            <label class="checkbox">
              <input {% if installation.settings.canvas.groups_enabled %}checked {% endif%} type="checkbox" name="groups_enabled">
            </label>
          </div>
        </div>
      </div>
    </div>

    <div class="field is-horizontal">
      <div class="field-label">
        <!-- Left empty for spacing -->
      </div>
      <div class="field-body">
        <div class="field">
          <div class="control">
            <input type="submit" class="button is-primary" value="Save"/>
          </div>
        </div>
      </div>
    </div>
</form>
{% endblock %}
