{% import "macros.html.jinja2" as macros %}

{% extends "lms:templates/admin/base.html.jinja2" %}
{% block header %}
Application instances
{% endblock %}

{% block content %}

<fieldset class="box mt-6">
    <legend class="label has-text-centered">Find application instances</legend>
    <form method="POST" action="{{ request.route_url("admin.instances.search") }}">
        <input type="hidden" name="csrf_token" value="{{get_csrf_token()}}">
        {{ macros.form_text_field(request, "ID", "id") }}
        {{ macros.form_text_field(request, "Consumer key", "consumer_key") }}
        {{ macros.form_text_field(request, "Issuer", "issuer") }}
        {{ macros.form_text_field(request, "Client ID", "client_id") }}
        {{ macros.form_text_field(request, "Deployment ID", "deployment_id") }}
        {{ macros.form_text_field(request, "GUID", "tool_consumer_instance_guid") }}
        <div class="field is-grouped">
          <div class="control">
            <input type="submit" class="button is-info" value="Search"/>
          </div>
      </div>
    </form>
</fieldset>


{% if instances is defined %} 
<fieldset class="box mt-6">
<legend class="label has-text-centered">Results</legend>
{{ macros.instances_table(request, instances) }}
</fieldset>
{% endif %}

{% endblock %}
