{% extends "lms:templates/admin/base.html.jinja2" %}
{% block header %}
Application instances
{% endblock %}

{% block content %}
    <form method="POST" action="{{ request.route_url("admin.instances") }}">
        <div class="field has-addons">
           <div class="control">
                <input class="input" name="query" type="text" placeholder="Consumer_key">
            </div>
            <div class="control">
                <input type="submit" class="button is-info" value="Find"/>
            </div>
        </div>
    </form>
{% endblock %}
