{% extends "lms:templates/admin/base.html.jinja2" %}
{% block header %}
    Application instance {{instance.consumer_key}}
{% endblock %}

{% macro field_body(label) %}
    <div class="field is-horizontal">
        <div class="field-label is-normal">
            <label class="label">{{ label }}</label>
        </div>
        <div class="field-body">
            <div class="field">
                <div class="control is-expanded">
                    {{ caller() }}
                </div>
            </div>
        </div>
    </div>
{% endmacro %}

{% macro text_field(label, value) %}
    {% call field_body(label) %}
        <input class="input" disabled type="text" value="{{value}}">
    {% endcall %}
{% endmacro %}

{%  macro checkbox_field(label, setting, sub_setting, field_name) %}
    {% call field_body(label) %}
        <label class="checkbox">
          <input {% if instance.settings.get(setting, sub_setting) %}checked {% endif%} type="checkbox" name="{{ field_name }}">
        </label>
    {% endcall %}
{% endmacro %}

{% block content %}
<form method="POST" action="{{ request.route_url("admin.instance", consumer_key=instance.consumer_key) }}">
    <input type="hidden" name="csrf_token" value="{{ get_csrf_token() }}">

    {{ text_field("Consumer key", instance.consumer_key) }}
    {{ text_field("LMS URL", instance.lms_url) }}

    {{ text_field("Tool consumer instance GUID", instance.tool_consumer_instance_guid) }}
    {{ text_field("Tool consumer info product family code", instance.tool_consumer_info_product_family_code) }}
    {{ text_field("Tool consumer instance description", instance.tool_consumer_instance_description) }}
    {{ text_field("Tool consumer instance URL", instance.tool_consumer_instance_url) }}
    {{ text_field("Tool consumer instance name", instance.tool_consumer_instance_name) }}
    {{ text_field("Tool consumer instance contact email", instance.tool_consumer_instance_contact_email) }}
    {{ text_field("Tool consumer info version", instance.tool_consumer_info_version) }}

    {{ text_field("Custom Canvas API domain", instance.custom_canvas_api_domain) }}

    {{ checkbox_field("Sections enabled", "canvas", "sections_enabled", "sections_enabled") }}
    {{ checkbox_field("Groups enabled", "canvas", "groups_enabled", "groups_enabled") }}
    {{ checkbox_field("Blackboard files enabled", "blackboard", "files_enabled", "blackboard_files_enabled") }}
    {{ checkbox_field("Microsoft OneDrive enabled", "microsoft_onedrive", "files_enabled", "microsoft_onedrive.files_enabled") }}

    {% call field_body(label="") %}
        <input type="submit" class="button is-primary" value="Save" />
    {% endcall %}
</form>
{% endblock %}
