{% import "macros.jinja" as macros %}

{% extends "lms:templates/admin/base.html.jinja2" %}
{% block header %}
    Application instance {{instance.id}}

    <span class="tag is-link is-normal">
        LTI {% if instance.lti_version == "1.3.0" %}1.3{% else %}1.1{% endif %}
    </span>
{% endblock %}

{% macro settings_checkbox(label, setting, sub_setting, field_name, default=False) %}
    {% call macros.field_body(label) %}
        <label class="checkbox">
            <input
                {% if instance.settings.get(setting, sub_setting, default) %}checked {% endif%}
                type="checkbox"
                name="{{ setting }}.{{ sub_setting }}">
        </label>
    {% endcall %}
{% endmacro %}

{% macro settings_text_field(label, setting, sub_setting, field_name, default='') %}
    {% call macros.field_body(label) %}
        <input
            value="{{ instance.settings.get(setting, sub_setting, default) or '' }}"
            class="input"
            type="text"
            name="{{ setting }}.{{ sub_setting }}">
    {% endcall %}
{% endmacro %}


{% block content %}
<form method="POST" action="{{ request.route_url("admin.instance.id", id_=instance.id) }}">
    <input type="hidden" name="csrf_token" value="{{ get_csrf_token() }}">

    <fieldset class="box mt-6">
        <legend class="label has-text-centered">Registration</legend>
        {{ macros.registration_preview(request, instance.lti_registration) }}
    </fieldset>

    <fieldset class="box">
        {{ macros.disabled_text_field("Consumer key", instance.consumer_key) }}
        {{ macros.form_text_field(request, "Deployment ID", "deployment_id", field_value=instance.deployment_id) }}
        {{ macros.form_text_field(request, "LMS URL", "lms_url", field_value=instance.lms_url) }}
    </fieldset>

    <fieldset class="box">
        <legend class="label has-text-centered">Tool Consumer</legend>
        {{ macros.disabled_text_field("GUID", instance.tool_consumer_instance_guid) }}
        <div class="columns">
            <div class="column is-half">
                {{ macros.disabled_text_field("Family code", instance.tool_consumer_info_product_family_code) }}
            </div>
            <div class="column is-half">
                {{ macros.disabled_text_field("Description", instance.tool_consumer_instance_description) }}
            </div>
        </div>
        <div class="columns">
            <div class="column is-half">
                {{ macros.disabled_text_field("URL", instance.tool_consumer_instance_url) }}
            </div>
            <div class="column is-half">
                {{ macros.disabled_text_field("Name", instance.tool_consumer_instance_name) }}
            </div>
        </div>
        <div class="columns">
            <div class="column is-half">
                {{ macros.disabled_text_field("Email", instance.tool_consumer_instance_contact_email) }}
            </div>
            <div class="column is-half">
                {{ macros.disabled_text_field("Version", instance.tool_consumer_info_version) }}
            </div>
        </div>

    </fieldset>

    <fieldset class="box">
        <legend class="label has-text-centered">Canvas settings</legend>
        {{ macros.disabled_text_field("API domain", instance.custom_canvas_api_domain) }}
        {{ macros.form_text_field(request, "Developer key", "developer_key", field_value=instance.developer_key) }}
        {{ macros.form_text_field(
            request,
            "Developer secret",
            "developer_secret",
            placeholder="*" * 25 if instance.developer_secret else "")
        }}
        {{ settings_checkbox("Sections enabled", "canvas", "sections_enabled") }}
        {{ settings_checkbox("Groups enabled", "canvas", "groups_enabled") }}
    </fieldset>

    <fieldset class="box">
        <legend class="label has-text-centered">Blackboard settings</legend>
        {{ settings_checkbox("Groups enabled", "blackboard", "groups_enabled") }}
        {{ settings_checkbox("Files enabled", "blackboard", "files_enabled") }}
    </fieldset>
    <fieldset class="box">
        <legend class="label has-text-centered">Content integrations</legend>
        {{ settings_checkbox("Microsoft OneDrive enabled", "microsoft_onedrive", "files_enabled", default=True) }}

        {{ settings_checkbox("VitalSource enabled", "vitalsource", "enabled") }}
        {{ settings_text_field("VitalSource API key", "vitalsource", "api_key") }}
        {{ settings_text_field("VitalSource SSO user ID field", "vitalsource", "user_lti_param") }}
        {{ settings_text_field("VitalSource SSO user ID regex", "vitalsource", "user_lti_pattern") }}
        {{ settings_checkbox("VitalSource disable licence check on SSO", "vitalsource", "disable_licence_check") }}

        {{ settings_checkbox("JSTOR enabled", "jstor", "enabled") }}
        {{ settings_text_field("JSTOR site code", "jstor", "site_code") }}
    </fieldset>

    <div class="has-text-right mb-6">
        <input type="submit" class="button is-primary" value="Save" />
    </div>


    <fieldset class="box has-background-danger-light">
        <legend class="label has-text-centered has-text-danger">Danger zone</legend>

        {% call macros.field_body(label="Downgrade to LTI 1.1") %}
            <input type="submit" class="button mb-2" formaction="{{ request.route_url("admin.instance.downgrade", id_=instance.id) }}" value="Downgrade">
            <p>Downgrade this instance to LTI 1.1 removing its association with a registration and its deployment ID.</p>
            <p>This action will <b>break any existing LTI 1.3 assignments</b>. To undo it, upgrade it back again to LTI 1.3 using the same registration and deployment ID.</p>
        {% endcall %}

    </fieldset>


</form>
{% endblock %}
