{% macro field_body(label) %}
    <div class="field is-horizontal">
        <div class="field-label is-normal">
            <label class="label">{{ label }}</label>
        </div>
        <div class="field-body">
            <div class="field">
                <div class="control is-expanded">{{ caller() }}</div>
            </div>
        </div>
    </div>
{% endmacro %}
{% macro disabled_text_field(label, value) %}
    {% call field_body(label) %}
        <input class="input"
               disabled
               type="text"
               value="{{ auto_format(value, html=False) }}">
    {% endcall %}
{% endmacro %}
{% macro readonly_text_field(label, field_name, value) %}
    {% call field_body(label) %}
        <input class="input"
               readonly
               type="text"
               name="{{ field_name }}"
               value="{{ value }}">
    {% endcall %}
{% endmacro %}
{% macro text_field(label, field_name) %}
    {% call field_body(label) %}
        <input class="input" name="{{ field_name }}" type="text">
    {% endcall %}
{% endmacro %}
{% macro form_text_field(request, label, field_name, field_value=None, placeholder="") %}
    {% call field_body(label) %}
        {% if field_value %}
            <input class="input"
                   name="{{ field_name }}"
                   value="{{ field_value }}"
                   type="text">
        {% elif request.params.get(field_name) %}
            <input class="input"
                   name="{{ field_name }}"
                   value="{{ request.params.get(field_name) }}"
                   type="text">
        {% else %}
            <input class="input"
                   name="{{ field_name }}"
                   type="text"
                   placeholder="{{ placeholder }}">
        {% endif %}
    {% endcall %}
{% endmacro %}
{% macro settings_textarea(object, label, setting, sub_setting, field_name, default='') %}
    {% call field_body(label) %}
        {% set text = object.settings.get(setting, sub_setting, default) or '' %}
        <textarea class="textarea" name="{{ setting }}.{{ sub_setting }}">{{ text }}</textarea>
    {% endcall %}
{% endmacro %}
{% macro registration_fields(request, lti_registration, view_button=False) %}
    {% if view_button %}
        <div class="block has-text-right">
            <a class="button"
               href="{{ request.route_url("admin.registration.id", id_=lti_registration.id) }}">View</a>
        </div>
    {% endif %}
    <div class="columns">
        <div class="column is-half">{{ disabled_text_field("Issuer", lti_registration.issuer) }}</div>
        <div class="column is-half">{{ disabled_text_field("Client ID", lti_registration.client_id) }}</div>
    </div>
    {{ form_text_field(request, "Auth login URL", "auth_login_url", lti_registration.auth_login_url) }}
    {{ form_text_field(request, "Key set URL", "key_set_url", lti_registration.key_set_url) }}
    {{ form_text_field(request, "Token URL", "token_url", lti_registration.token_url) }}
{% endmacro %}
{% macro created_updated_fields(model) %}
    {{ disabled_text_field("Created", model.created) }}
    {% if model.updated %}{{ disabled_text_field("Updated", model.updated) }}{% endif %}
{% endmacro %}
{#
    Attempt to guess the correct way to format something by inspecting it.
    This supports an `html` mode which is good for displaying content inline,
    and a non-html mode for displaying values in form fields.
#}
{%- macro auto_format(value, html=True) -%}
    {%- if value is none -%}
        {% if html %}
            <span style="color:#aaa">-</span>
        {% else %}
        {% endif %}
    {%- elif value is boolean -%}
        {% if value %}
            ✔️
        {% else %}
            ❌
        {% endif %}
    {%- elif value.strftime -%}
        {{ value.strftime("%Y/%m/%d %H:%M") }}
    {%- elif value.startswith and value.startswith('http') and html -%}
        <a href="{{ value }}">{{ value }}</a>
    {%- else -%}
        {{ value }}
    {%- endif -%}
{%- endmacro -%}
{% macro object_list_table(request, route, objects, fields, html=True) %}
    <div class="container">
        <div class="table-container">
            <table class="table is-fullwidth">
                <thead>
                    <tr>
                        <th></th>
                        {% for field in fields %}<th>{{ field.label }}</th>{% endfor %}
                    </tr>
                </thead>
                <tbody>
                    {% for object in objects %}
                        <tr>
                            <td>
                                <a class="button" href="{{ request.route_url(route, id_=object.id) }}">View</a>
                            </td>
                            {% for field in fields %}<td>{{ auto_format(object[field.name], html=html) }}</td>{% endfor %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endmacro %}
{% macro instances_table(request, instances, extra_fields=None) %}
    {% if not extra_fields %}
        {% set extra_fields = [] %}
    {% endif %}
    {{ object_list_table(request, 'admin.instance', instances,
        fields=[
        {"label": "Name", "name": "name"},
        {"label": "Created", "name": "created"},
        {"label": "Last Launched", "name": "last_launched"},
        {"label": "Product Family", "name": "tool_consumer_info_product_family_code"},
        {"label": "Email", "name": "requesters_email"},
        {"label": "LMS URL", "name": "lms_url"},
        ] + extra_fields) }}
{% endmacro %}
{% macro registrations_table(request, registrations) %}
    {{ object_list_table(request, 'admin.registration.id', registrations,
        fields=[
        {"label": "Client ID", "name": "client_id"},
        {"label": "Issuer ID", "name": "issuer"},
        ]) }}
{% endmacro %}
{% macro instance_preview(request, instance) %}
    {% if instance %}
        <div class="block has-text-right">
            <a class="button"
               href="{{ request.route_url("admin.instance", id_=instance.id) }}">View</a>
        </div>
        <div class="columns">
            <div class="column is-half">{{ disabled_text_field("Name", instance.name) }}</div>
            <div class="column is-half">{{ disabled_text_field("Version", instance.lti_version) }}</div>
        </div>
    {% else %}
        <div class="has-text-centered">No Application Instance</div>
    {% endif %}
{% endmacro %}
{% macro course_preview(request, course) %}
    <div class="block has-text-right">
        <a class="button"
           href="{{ request.route_url("admin.course", id_=course.id) }}">View</a>
    </div>
    <div>{{ disabled_text_field("Name", course.lms_name) }}</div>
{% endmacro %}
{% macro registration_preview(request, lti_registration) %}
    {% if lti_registration %}
        <div class="block has-text-right">
            <a class="button"
               href="{{ request.route_url("admin.registration.id", id_=lti_registration.id) }}">View</a>
        </div>
        <div class="columns">
            <div class="column is-half">{{ disabled_text_field("Issuer", lti_registration.issuer) }}</div>
            <div class="column is-half">{{ disabled_text_field("Client ID", lti_registration.client_id) }}</div>
        </div>
    {% else %}
        <div class="has-text-centered">No LTI registration</div>
    {% endif %}
{% endmacro %}
{% macro organization_preview(request, org) %}
    {% if org %}
        <div class="block has-text-right">
            <a class="button"
               href="{{ request.route_url("admin.organization", id_=org.id) }}">View</a>
        </div>
        <div class="columns">
            <div class="column is-half">{{ disabled_text_field("Name", org.name) }}</div>
            <div class="column is-half">{{ disabled_text_field("ID", org.public_id) }}</div>
        </div>
    {% else %}
        <div class="has-text-centered">No organization</div>
    {% endif %}
{% endmacro %}
{% macro select(label, field_name, options, current=None, with_search=False) %}
    {% call field_body(label) %}
        <div class="select">
            <select class="{% if with_search %} with-search {% endif %} style="width: 50%" name="{{ field_name }}">
                {% for value, name in options %}
                    <option {% if current == value %}selected{% endif %} value={{ value }}>{{ name }}
                    </option>
                {% endfor %}
            </select>
        </div>
    {% endcall %}
{% endmacro %}
{% macro enable_tabs(prefix_segments_amount=3, default_tab="info") %}
    <script>
      function pathSegments() {
        const currentPath = window.location.pathname;
        // Remove leading and trailing bars
        const trimmedCurrentPath = currentPath.replace(/^\/+|\/+$/g, '');

        return trimmedCurrentPath.split('/');
      }

      function updateActiveTab() {
        const activeSection = pathSegments()[{{ prefix_segments_amount }}] ?? '{{ default_tab }}';
        const tabs = document.querySelectorAll('[data-section-id]');

        // Iterate over tabs and tab panels, adding is-active to those which data-section-id matches active section,
        // and removing it for the rest.
        tabs.forEach(tab => {
          tab.classList.toggle('is-active', tab.dataset.sectionId === activeSection);
        });
      }

      // Select the first tab on window load
      window.addEventListener('load', updateActiveTab);
      // Update selected tab on history change
      window.addEventListener('popstate', updateActiveTab);

      // Capture clicks in tabs, to update the URL
      document.querySelectorAll('.tabs li').forEach(tab => {
        tab.addEventListener('click', () => {
          const segments = pathSegments().slice(0, {{ prefix_segments_amount }});
          // We assume all routes here have a common prefix consisting on three parts
          const prefix = `/${segments.join('/')}/`;
          const newActiveSection = tab.dataset.sectionId;

          window.history.pushState(null, '', `${prefix}${newActiveSection}`);
        });
      });
    </script>
{% endmacro %}
{% macro assignments_table(request, assignments) %}
    {{ object_list_table(request, 'admin.assignment', assignments,
        fields=[
        {"label": "Title", "name": "title"},
        {"label": "Resource link id", "name": "resource_link_id"},
    ]) }}
{% endmacro %}
{% macro courses_table(request, courses) %}
    {{ object_list_table(request, 'admin.course', courses,
        fields=[
        {"label": "Name", "name": "lms_name"},
        {"label": "Context ID", "name": "lms_name"},
        {"label": "Resource link id", "name": "resource_link_id"},
    ]) }}
{% endmacro %}
