{% import "macros.jinja" as macros %}

{% extends "lms:templates/admin/base.html.jinja2" %}
{% block header %}
    Registration {{registration.issuer}} / {{ registration.client_id }}
{% endblock %}

{% block content %}
    {{ macros.registrations_fields(request, registration) }}

    <fieldset class="box">
    <legend class="label has-text-centered">Registration application instances</legend>
        <div class="block has-text-right">
            <a class="button is-primary" href="{{ request.route_url("admin.registration.new.instance", id_=registration.id) }}">Add instance</a>
        </div>

        {% if registration.application_instances %}
            {{ macros.instances_table(request, registration.application_instances) }}
        {% endif %}
    </fieldset/>
{% endblock %}
