{% extends 'templates/email/email_layout.html.jinja2' %}

{% block content %}
<p>Hi {{ mentioned_user}}</p>

<p>Someone has mentioned you on an annotation:</p>

<p>{{ course_title }} - {{ assignment_title }}</p>

<p> {{ annotation_text | safe }} </p>
{% endblock %}
