ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 20px;
}

input[type=checkbox] {
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 30px;
    height: 30px;
    border: 2px solid black;
    margin-right: 1em;
}

input[type=checkbox] , label {
    vertical-align: middle;
}

input[type=checkbox]:checked:after {
    margin-left: 7px;
    margin-top: -1px;
    width: 8px;
    height: 18px;
    border: solid black;
    border-width: 0 4px 4px 0;
    transform: rotate(45deg);
    content: "";
    display: inline-block;
}
