[run]
branch = True
parallel = True
source =
    lms
    tests/unit
omit =
    lms/scripts/*
    lms/pshell.py

    # Don't bother covering these files as they just contain feature flags test
    # views, not really user-facing code.
    lms/extensions/feature_flags/views/test.py
    lms/views/feature_flags_test.py

[report]
show_missing = True
precision = 2
fail_under = 100.00
skip_covered = True
