{
  "extends": [
    "hypothesis",
    "plugin:jsx-a11y/recommended"
  ],
  "rules": {
    "prefer-arrow-callback": "error",
    "prefer-const": ["error", { "destructuring": "all" }],

    // Handled by Prettier.
    "comma-dangle": "off",

    // Prop validation is performed by TypeScript + JSDoc.
    "react/prop-types": "off"
  }
}
