{
  "extends": ["hypothesis", "plugin:jsx-a11y/recommended"],
  "rules": {
    "prefer-arrow-callback": "error",
    "prefer-const": ["error", { "destructuring": "all" }],

    // Prop validation is performed by TypeScript + JSDoc.
    "react/prop-types": "off"
  },
  "overrides": [
    {
      "files": "*.mjs",
      "env": { "node": true },
      "parserOptions": { "sourceType": "module" }
    }
  ]
}
