[MASTER]
# Use multiple processes to speed up PyLint. Specifying 0 will auto-detect the
# number of processors available to use.
jobs=0

load-plugins=pylint.extensions.bad_builtin,
             pylint.extensions.check_elif,
             pylint.extensions.comparetozero,
             pylint.extensions.docparams,
             pylint.extensions.emptystring,
             pylint.extensions.mccabe,
             pylint.extensions.overlapping_exceptions,
             pylint.extensions.redefined_variable_type,

[MESSAGES CONTROL]
enable=
    bad-inline-option,
    deprecated-pragma,
    useless-suppression,
    use-symbolic-message-instead,
disable=
    # Docstrings are encouraged but we don't want to enforce that everything
    # must have a docstring.
    missing-docstring,

    # We don't always want to have to put a `:return:` in a docstring.
    missing-return-doc,

    # We don't always want to have to put an `:rtype:` in a docstring.
    missing-return-type-doc,

    # We don't want to have to document the type of every parameter with a
    # `:type:` in the docstring.
    missing-type-doc,

    # We use isort to sort and group our imports, so we don't need PyLint to
    # check them for us.
    ungrouped-imports,

    # We use Black to format our code automatically, so we don't need PyLint to
    # check formatting for us.
    bad-continuation,
    line-too-long,

    too-few-public-methods,

    # Issues to disable this for false positives, disabling it globally in the meantime https://github.com/PyCQA/pylint/issues/214
    duplicate-code,

good-names=
    # PyLint's default good names.
    i,j,k,ex,Run,_,

    # The standard name used for the pyramid_tm transaction manager.
    tm,

    # request.db.
    db,

    # ApplicationInstance
    ai,

[REPORTS]
output-format=colorized
# Deactivate the evaluation score: we don't care about it, we just enforce that
# there are zero PyLint messages.
score=no
