sudo: false
env:
  global:
    - TEST_DATABASE_URL=postgresql://postgres@localhost/lms_test
language:
  - python
python:
  - 3.6
addons:
    postgresql: "9.4"
before_script: createdb lms_test; npm install;
jobs:
  include:
    - env: ACTION=test
      script: make test
    - env: ACTION=lint
      script: make lint
after_success:
  - make coverage codecov
cache:
  directories:
    - node_modules
