sudo: false
env:
  - TEST_DATABASE_URL=postgresql://postgres@localhost/lms_test
language:
  - python
python:
  - 3.6
addons:
    postgresql: "9.4"
before_script: createdb lms_test
jobs:
  include:
    - script: make test
    - script: make lint
after_success:
  - make coverage codecov
