version: '3'
services:
  postgres:
    image: postgres:11.5-alpine
    ports:
      - '127.0.0.1:5433:5432'
    healthcheck:
        test: ["CMD", "pg_isready", "-U", "postgres"]
        interval: 0.1s
        timeout: 1s
        retries: 10
