{% extends "lms:templates/base.html.jinja2" %}
{% block content %}
<main class="modal-content u-horizontally-center-children">
  <div class="warning-icon">
    <i class="material-icons md-36 red">report_problem</i>
  </div>
  <h2 class="warning-text">This page has not yet been configured</h2>
</main>
{% endblock %}
