{% extends "templates/base.html.jinja2" %}

{% block scripts %}
<script type="text/javascript">
function copyToClipboard(field) {
  field.select()
  document.execCommand('copy');
}
</script>
{% endblock %}

{% block content %}
<main class="modal-content">
  <h1>Hypothesis Installation</h1>
  <p class="modal-text">
    Below are your <strong>Consumer Key</strong> and
    <strong>Shared Secret</strong> for installing the Hypothesis LTI app.
    For installation instructions for your LMS see our
    <a target="_blank" rel="noopener noreferrer" href="https://web.hypothes.is/help/installing-the-hypothesis-lms-app/">Hypothesis LMS Documentation.</a>
  </p>
	<div class="input">
		<label for="key">Consumer Key</label>
		<input id="key" type="text" value="{{ consumer_key }}" readonly/>
		<button class="copy" onclick="copyToClipboard(document.getElementById('key'))">Copy</button>
	</div>
	<div class="input">
		<label for="secret">Shared Secret</label>
		<input id="secret" type="text" value="{{ shared_secret }}" readonly/>
		<button class="copy" onclick="copyToClipboard(document.getElementById('secret'))">Copy</button>
	</div>
</main>
{% endblock %}
