<!--suppress CheckValidXmlInScriptTagBody -->
{% extends "templates/base.html.jinja2" %}
{% block scripts %}
{% for url in asset_urls("new_application_instance_js") %}
<script src="{{ url }}"></script>
{% endfor %}
{% endblock %}

{% block content %}
<main class="modal-content">
  <h1>Hypothesis Installation</h1>
  <p class="modal-text">This tool allows you to generate the info you'll need to install Hypothesis in your LMS.</p>
  <form action="/welcome" method="post" onsubmit="newApplicationInstanceForm.handleSubmit(event, this)">
    <div class="input">
      <label for="domain">LMS Domain</label>
      <input
        id="domain"
        type="text"
        name="lms_url"
        placeholder="ex. yourschool.instructure.com"
        onblur="newApplicationInstanceForm.validateDomain(this)"
      />
      <span class="error"></span>
    </div>
    <div class="input">
      <label for="email">Email</label>
      <input id="email" type="email" name="email" onblur="newApplicationInstanceForm.validateEmail(this)"/>
      <span class="error"></span>
    </div>
    <h2>Canvas File Picker Integration</h2>
    <p class="modal-text">The following fields are only needed if you are using the Canvas LMS and would like to enable the file picker.</p>
    <div class="input">
      <label for="developer-key">Canvas Developer ID (optional)</label>
      <input id="developer-key" type="text" name="developer_key"/>
      <span class="error"></span>
    </div>
    <div class="input">
      <label for="developer-secret">Canvas Developer Secret (optional)</label>
      <input id="developer-secret" type="text" name="developer_secret"/>
      <span class="error"></span>
    </div>
    <div class="form-controls">
      <button type="submit" class="btn">Generate Credentials</button>
    </div>
  </form>
</main>
{% endblock %}
