.BasicLtiLaunchApp {
  height: 100%;
}

.BasicLtiLaunchApp__spinner {
  $spinner-size: 50px;

  position: absolute;
  width: $spinner-size;
  height: $spinner-size;
  left: calc(50% - #{$spinner-size / 2});
  top: 100px;
}

.BasicLtiLaunchApp__content {
  &.is-hidden {
    visibility: hidden;
  }

  display: flex;
  flex-direction: column;
  height: 100%;
}

.BasicLtiLaunchApp__iframe {
  width: 100%;

  // nb. This element may be contained directly in the `BasicLtiLaunchApp__content` element or
  // within an `LMSGrader` wrapper. In both cases it should fill whatever space remains.
  flex-grow: 1;
}
