@use "sass:math";

@use "../mixins";
@use "../variables" as var;

.BasicLtiLaunchApp {
  height: 100%;
}

.BasicLtiLaunchApp__spinner {
  @include mixins.spinner($size: var.$spinner-size);
}

.BasicLtiLaunchApp__content {
  &.is-hidden {
    visibility: hidden;
  }

  display: flex;
  flex-direction: column;
  height: 100%;
}

.BasicLtiLaunchApp__iframe {
  width: 100%;

  // nb. This element may be contained directly in the `BasicLtiLaunchApp__content` element or
  // within an `LMSGrader` wrapper. In both cases it should fill whatever space remains.
  flex-grow: 1;
}
