.BasicLtiLaunchApp__spinner {
  $spinner-size: 50px;

  position: absolute;
  width: $spinner-size;
  height: $spinner-size;
  left: calc(50% - #{$spinner-size / 2});
  top: 100px;
}

.BasicLtiLaunchApp__content {
  &.is-hidden {
    visibility: hidden;
  }
}