@use 'sass:math';

@use '../mixins';
@use '../variables' as var;

.BasicLTILaunchApp {
  height: 100%;
}

.BasicLTILaunchApp__spinner {
  @include mixins.spinner($size: var.$spinner-size);
}

.BasicLTILaunchApp__content {
  &.is-hidden {
    visibility: hidden;
  }

  display: flex;
  flex-direction: column;
  height: 100%;
}

.BasicLTILaunchApp__iframe {
  width: 100%;

  // nb. This element may be contained directly in the `BasicLTILaunchApp__content` element or
  // within an `LMSGrader` wrapper. In both cases it should fill whatever space remains.
  flex-grow: 1;
}
