.Breadcrumbs {
  display: flex;
  flex-direction: row;
  // Disable browser-default margin and padding for <ul>
  margin: 0;
  padding: 0;
  // FIXME: For now, allow crumbs to wrap onto a second line if they
  // run out of room. This could be more elegant.
  flex-wrap: wrap;
  // Avoid one-pixel height changes as breadcrumb items and dividers are
  // added. FIXME: remove this rule once typography patterns have been established.
  line-height: 1;

  &__item {
    display: inline-flex;
    list-style-type: none;
  }

  &__item--current {
    button {
      // The button is disabled, so don't show a pointer cursor
      // FIXME: The shared button components should handle their cursors
      // correctly
      cursor: default;
    }
  }

  &__divider {
    margin: 0 0.5rem;
    font-size: 1em;
  }
}
