@use "../mixins";
@use "../variables" as var;

.Button {
  @include mixins.font-normal;

  min-height: 30px;

  background-color: var.$grey-6;
  border: none;
  border-radius: 2px;
  color: var.$white;
  cursor: pointer;
  font-weight: bold;
  padding-left: 15px;
  padding-right: 15px;
  white-space: nowrap;

  &:hover {
    background-color: var.$brand;
  }

  &[disabled] {
    color: var.$grey-6;
    background-color: var.$grey-2;
    &:hover {
      background-color: var.$grey-2;
    }
  }
}

.Button.is-hidden {
  display: none;
}

.Button--cancel {
  color: var.$grey-6;
  background-color: var.$grey-2;

  &:hover {
    background-color: var.$grey-3;
    color: var.$brand;
  }
}

.Button--danger {
  background-color: var.$brand;
}

@include mixins.touch-input {
  .Button {
    min-height: var.$touch-target-size;
  }
}
