.Dialog__background {
  display: flex;
  flex-direction: column;
  /* Center vertically and horizontally. */
  justify-content: center;
  align-items: center;

  overflow: scroll;
  background-color: rgba(0, 0, 0, 0.5);

  /* Fill the space of the nearest positioned ancestor. */
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
}

.Dialog__content {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 3px;
  padding: 20px;
  /* Center the content horizontally in case it's width is overriden. */
  margin-right: auto;
  margin-left: auto;
}

.Dialog__title {
  display: flex;
  align-items: center;
  font-size: $title-font-size;
}

.Dialog__fill {
  /* Choose an arbitrarily large flex-grow priority. */
  flex-grow: 6;
}

.Dialog__cancel-btn {
  border: 0;
  background: none;
  color: $grey-6;

  // Given the button a large hit target and ensure the 'X' label is large
  // enough to see easily and aligned with the right edge of the dialog.
  padding: 0;
  font-size: 20px;
  line-height: 20px;
  width: 40px;
  height: 40px;
  margin-top: -15px;
  margin-bottom: -15px;
  margin-right: 0;
  text-align: right;

  &:hover {
    color: $brand;
  }
}

.Dialog__actions {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-top: 10px;

  .Button {
    &:not(:first-child) {
      margin-left: 5px;
    }
  }
}

.Dialog__dimension {
  /* Prevent the top of the content from getting cut off */
  /* when the content height exceeds its ancestor's. */
  /* See https://css-tricks.com/flexbox-truncated-text/ */
  min-height: 0;
  width: 75%;
}
