@use "../mixins/focus";
@use "../variables" as var;


.Dialog__container {
  display: flex;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
}

.Dialog__background {
  background-color: black;
  bottom: 0;
  left: 0;
  opacity: 0.5;
  position: fixed;
  right: 0;
  top: 0;
}

.Dialog__content {
  display: flex;
  flex-direction: column;
  max-height: 90vh;
  max-width: 700px;
  background-color: white;
  border-radius: 3px;
  margin: auto;
  padding: 20px;
}

.Dialog__title {
  display: flex;
  align-items: center;
  font-size: var.$title-font-size;
}

.Dialog__cancel-btn {
  @include focus.outline-on-keyboard-focus;
  border: 0;
  background: none;
  color: var.$grey-6;

  // Given the button a large hit target and ensure the 'X' label is large
  // enough to see easily and aligned with the right edge of the dialog.
  padding: 0;
  font-size: 20px;
  line-height: 20px;
  width: 40px;
  height: 40px;
  margin-top: -15px;
  margin-bottom: -15px;
  margin-right: 0;
  text-align: right;

  &:hover {
    color: var.$brand;
  }
}

.Dialog__actions {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-top: 10px;

  .Button {
    @include focus.outline-on-keyboard-focus;
    &:not(:first-child) {
      margin-left: 5px;
    }
  }
}
