@use "../variables" as var;


.ErrorDisplay {
  max-width: 100%;
}

.ErrorDisplay__details {
  overflow: scroll;
  background-color: var.$grey-1;
  border: 1px solid var.$grey-3;

  max-width: 100%;
}
