@use "../variables" as var;


.ErrorDisplay {
  position: relative;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  padding-right: 5px;
  margin-bottom: 10px;
  max-width: 100%;
  details {
    padding: 4px; // fix for focus halo w/ overflow scroll
  }
}

.ErrorDisplay__details {
  background-color: var.$grey-1;
  border: 1px solid var.$grey-3;
  white-space: pre-wrap;
  max-width: 100%;
  padding: 10px;
  margin-bottom: 0;
}
