@use '../variables' as var;

.FileList {
  &__date-header {
    width: 10em;
  }

  &__icon {
    // TODO: Update when updated SVGIcon component is available and has sizing
    // patterns
    width: 1.5em;
    height: 1.5em;
  }
}
