.FilePickerApp__form {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.FilePickerApp__source-button {
  min-width: 175px;
  margin-bottom: 10px;
  text-align: left;
}

.FilePickerApp__loading-backdrop {
  background-color: white;
  bottom: 0;
  left: 0;
  opacity: 0.5;
  position: fixed;
  right: 0;
  top: 0;
}

.FilePickerApp__loading-spinner {
  $spinner-size: 100px;

  position: absolute;
  width: $spinner-size;
  height: $spinner-size;
  left: calc(50% - #{$spinner-size});
  top: calc(50% - #{$spinner-size});
}
