@use "../variables" as var;

.FilePickerApp__form {
  display: grid;
  grid-template-columns: auto 1fr;
  row-gap: 1em;

  width: 500px; // Preferred width
  max-width: 80vw; // Constrain width to fit in viewport

  margin-left: auto;
  margin-right: auto;
  margin-top: 10vh;
}

.FilePickerApp__heading {
  grid-column: 1 / 3;
  margin-bottom: 1em;
}

.FilePickerApp__left-col {
  grid-column: 1;
  padding-right: 20px;

  font-weight: bold;
  text-align: end;
}

.FilePickerApp__right-col {
  grid-column: 2;

  // Make sure that the text at the top of the right column is aligned with
  // the label in the left column, whether that text is part of a `<p>` or not.
  & > p:first-child {
    margin-top: 0;
  }
}

// Footer with actions to navigate between steps in the assignment configuration
// flow.
.FilePickerApp__footer {
  grid-column: 1 / 3;

  margin-top: 1em;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
