@use "../variables" as var;

.FileList {
  // FIXME: Reduce specificity when possible to do so
  // See https://github.com/hypothesis/frontend-shared/issues/180
  & &__date-header {
    width: 10em;
  }

  &__icon {
    // TODO: Update when updated SVGIcon component is available and has sizing
    // patterns
    width: 1.5em;
    height: 1.5em;
  }
}
