@use "../variables" as var;

.FilePickerApp__form {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20vh;
}

.FilePickerApp__source-button {
  min-width: 175px;
  margin-bottom: 10px;
  text-align: left;
}

.FilePickerApp__loading-backdrop {
  background-color: white;
  bottom: 0;
  left: 0;
  opacity: 0.5;
  position: fixed;
  right: 0;
  top: 0;
}

.FilePickerApp__loading-spinner {
  position: absolute;
  width: var.$spinner-size;
  height: var.$spinner-size;
  left: calc(50% - #{var.$spinner-size / 2});
  top: calc(50% - #{var.$spinner-size / 2});
}

.FilePickerApp__document-source-buttons {
  align-items: stretch;
  display: inline-flex;
  flex-direction: column;
  margin-top: 30px;

  & > :not(:first-child) {
    margin-top: 10px;
  }
}
