@use "../variables" as var;


.LMSGrader {
  display: flex;
  flex-direction: column;
  font-size: 16px;
  height: 100%;
  width: 100%;
  position: fixed;
  color: var.$grey-6;
}

.LMSGrader__grading-components {
  display: flex;
  flex-flow: wrap;
  justify-content: flex-end;
  margin: 15px 15px 0 15px;
  padding: 0;
  list-style: none;
  > li {
    margin-bottom: 15px;
  }
}

.LMSGrader__student-count {
  margin: 10px;
  font-weight: 500;
}

.LMSGrader__title {
  flex-grow: 1;
}

.LMSGrader__assignment {
  font-size: 18px;
  margin: 0 0 10px 0;
}

.LMSGrader__name {
  font-size: 16px;
  margin: 0;
}


.LMSGrader__student-picker {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}

.LMSGrader__student-grade {
  margin-left: 20px;
  display: flex;
  align-items: center;
}