.LMSGrader {
  display: flex;
  flex-direction: column;
  font-size: 16px;
  height: 100%;
  width: 100%;
  position: fixed;
  color: $grey-6;
}

.LMSGrader__grading-components {
  background-color: white;
  padding: 15px 15px;
  margin: 0;
  list-style: none;
  display: flex;
}

.LMSGrader__grading-components--label-wrapper {
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  margin: 10px;
  font-weight: 500;
}

.LMSGrader__assignment {
  flex-grow: 1;
}

.LMSGrader__student-picker {
  display: flex;
  align-items: center;
  margin-right: 20px;
}


.LMSGrader__loading-backdrop {
  background-color: white;
  bottom: 0;
  left: 0;
  opacity: 0.5;
  position: fixed;
  right: 0;
  top: 0;
}

.LMSGrader__spinner {
  $spinner-size: 100px;
  position: absolute;
  width: $spinner-size;
  height: $spinner-size;
  left: calc(50% - #{$spinner-size});
  top: calc(50% - #{$spinner-size});
}