@use "../variables" as var;


.LMSGrader {
  display: flex;
  flex-direction: column;
  font-size: 16px;
  height: 100%;
  width: 100%;
  position: fixed;
  color: var.$grey-6;
}

.LMSGrader__grading-components {
  padding: 15px 15px;
  margin: 0;
  list-style: none;
  display: flex;
}

.LMSGrader__student-count {
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  margin: 10px;
  font-weight: 500;
}

.LMSGrader__assignment {
  flex-grow: 1;
}

.LMSGrader__student-picker {
  display: flex;
  align-items: center;
  margin-right: 20px;
}