@use "@hypothesis/frontend-shared/styles/mixins/focus";

@use "../variables" as var;

.StudentSelector {
  display: flex;
}

.StudentSelector__change-student-svg {
  color: var.$grey-5;
  width: 1.5em;
  height: 1.5em;
}

.StudentSelector__change-student {
  @include focus.outline-on-keyboard-focus;
  min-width: 60px;
  height: 40px;
  border: none;
  background-color: var.$grey-2;
  border: 1px solid var.$grey-3;
  transition: background-color 0.2s, border-color 0.2s;

  &:hover {
    cursor: pointer;
    background-color: var.$grey-3;
  }

  &:disabled {
    background-color: var.$grey-1;
    cursor: default;
    opacity: 0.5;
  }
}

.StudentsSelector__students {
  @include focus.outline-on-keyboard-focus;
  position: relative;

  &-select {
    @include focus.outline-on-keyboard-focus;
    appearance: none;
    border: 1px solid var.$grey-3;
    border-left: none;
    border-right: none;
    border-radius: 0;
    height: 40px;
    padding: 5px 35px 5px 20px;

    &::-ms-expand {
      /* Remove default select arrow in IE11 */
      display: none;
    }
  }

  &-icon {
    position: absolute;
    transform: translateY(-50%);
    pointer-events: none;
    top: 50%;
    right: 10px;
    color: var.$grey-4;
  }
}
