@use "../mixins";
@use "../variables" as var;


.StudentSelector {
  display: flex;
}

.StudentSelector-change-student-svg {
  color: var.$grey-5;
}

.StudentSelector-change-student {
  min-width: 60px;
  height: 40px;
  border: none;
  background-color: var.$grey-1;
  border: 1px solid var.$grey-3;
  transition: background-color 0.2s, border-color 0.2s;
  
  @include mixins.input-focus;
  
  &:hover {
    cursor: pointer;
    background-color: var.$grey-2;
  }

  &:disabled {
    background-color: var.$grey-1;
    cursor: default;
    opacity: 0.5;
  }
}

.StudentsSelector__students {
  appearance: none;
  border: 1px solid var.$grey-3;
  border-left: none;
  border-right: none;
  border-radius: 0;
  height: 40px;
  padding: 5px 20px;

  @include mixins.input-focus;

  &::-ms-expand {
    /* Remove default select arrow in IE11 */
    display: none;
  }
}
