@use "@hypothesis/frontend-shared/styles/mixins/focus";

@use "../variables" as var;

.StudentSelector {
  display: flex;
}

.StudentSelector__button {
  font-size: 24px;

  svg {
    width: 1em;
    height: 1em;
  }
}

.StudentsSelector__students {
  @include focus.outline-on-keyboard-focus;
  position: relative;

  &-select {
    @include focus.outline-on-keyboard-focus;
    appearance: none;
    border: 1px solid var.$grey-3;
    border-radius: 0;
    height: 40px;
    padding: 5px 35px 5px 20px;

    &::-ms-expand {
      /* Remove default select arrow in IE11 */
      display: none;
    }
  }

  &-icon {
    position: absolute;
    transform: translateY(-50%);
    pointer-events: none;
    top: 50%;
    right: 10px;
    color: var.$grey-4;
  }
}
