@use '@hypothesis/frontend-shared/styles/mixins/focus';

@use '../mixins';
@use '../variables' as var;

@keyframes SubmitGradeForm__fadeAway {
  from {
    opacity: 1;
    visibility: inherit;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}

@keyframes SubmitGradeForm__gradeSaved {
  from {
    background-color: #58bf4b;
  }
  to {
    background-color: transparent;
  }
}

.SubmitGradeForm {
  display: flex;
  position: relative;
  white-space: nowrap;

  &__check-icon {
    color: var.$grey-5;
  }

  &__submit {
    @include focus.outline-on-keyboard-focus;

    height: 40px;
    width: 150px;
    font-weight: 500;
    border: 1px solid var.$grey-3;
    background-color: var.$grey-2;
    transition: background-color 0.2s;

    &:hover {
      background-color: var.$grey-3;
    }

    &:disabled {
      background-color: var.$grey-1;
      cursor: default;
      opacity: 0.5;
    }
  }

  &__label {
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    margin: 10px;
    font-weight: 500;
  }

  &__grade-wrapper {
    position: relative;
  }

  &__grade {
    @include focus.outline-on-keyboard-focus;
    text-align: center;
    width: 60px;
    height: 40px;
    border: 1px solid var.$grey-3;
    border-right: none;

    // Animation for successful grade submit
    animation-duration: 2s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;

    &.is-saved {
      animation-name: SubmitGradeForm__gradeSaved;
    }

    &:disabled {
      opacity: 0.5;
    }
  }
}

.SubmitGradeForm__loading-backdrop {
  background-color: white;
  bottom: 0;
  left: 0;
  opacity: 0.5;
  position: fixed;
  right: 0;
  top: 0;
}

.SubmitGradeForm__submit-spinner {
  @include mixins.spinner(var.$spinner-size);
}

.SubmitGradeForm__fetch-spinner {
  @include mixins.spinner(28px);
  animation-duration: 0.5s;
  visibility: hidden;
  animation-fill-mode: forwards;
  &.is-fade-away {
    animation-name: SubmitGradeForm__fadeAway;
  }
  &.is-active {
    visibility: inherit;
  }
}
