@use '@hypothesis/frontend-shared/styles/mixins/focus';

@use '../variables' as var;

@keyframes SubmitGradeForm__gradeSaved {
  from {
    background-color: #58bf4b;
  }
  to {
    background-color: transparent;
  }
}

.SubmitGradeForm {
  display: flex;
  position: relative;
  white-space: nowrap;

  &__check-icon {
    display: inline;
    color: var.$grey-5;
  }

  &__submit {
    @include focus.outline-on-keyboard-focus;

    height: 40px;
    width: 150px;
    font-weight: 500;
    border: 1px solid var.$grey-3;
    background-color: var.$grey-2;
    transition: background-color 0.2s;

    &:hover {
      background-color: var.$grey-3;
    }

    &:disabled {
      background-color: var.$grey-1;
      cursor: default;
      opacity: 0.5;
    }
  }

  &__label {
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    margin: 10px;
    font-weight: 500;
  }

  &__grade-wrapper {
    position: relative;
  }

  &__grade {
    @include focus.outline-on-keyboard-focus;
    text-align: center;
    width: 60px;
    height: 40px;
    border: 1px solid var.$grey-3;
    border-right: none;

    // Animation for successful grade submit
    animation-duration: 2s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;

    &.is-saved {
      animation-name: SubmitGradeForm__gradeSaved;
    }

    &:disabled {
      opacity: 0.5;
    }
  }
}
