@use "../mixins";
@use "../variables" as var;

@keyframes fadeAway {
  from {
    opacity: 1;
    visibility: inherit;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}

@keyframes gradeSaved {
  from {
    background-color: #58bf4b;
  }
  to {
    background-color: transparent;
  }
}


.SubmitGradeForm {
  display: flex;
  position: relative;
  white-space: nowrap;

  &__check-icon {
    color: var.$grey-5;
  }

  &__submit {
    height: 40px;
    width: 150px;
    font-weight: 500;
    border: 1px solid var.$grey-3;
    background-color: var.$grey-1;
    transition: background-color 0.2s;

    &:focus {
      border-color: var.$grey-5;
    }

    &:hover {
      cursor: pointer;
      background-color: var.$grey-2;
    }

    &:disabled {
      background-color: var.$grey-1;
      cursor: default;
      opacity: 0.5;
    }

    &:focus {
      @include mixins.input-focus;
    }
  }

  &__label {
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    margin: 10px;
    font-weight: 500;
  }

  &__grade-wrapper {
    position: relative;
  }

  &__grade {
    text-align: center;
    width: 60px;
    height: 40px;
    border: 1px solid var.$grey-3;
    border-right: none;

    // Animation for successful grade submit
    animation-duration: 2.0s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
    
    &--saved {
      animation-name: gradeSaved;
    }

    &:disabled {
      opacity: 0.5;
    }

    @include mixins.input-focus;
  }
}

.SubmitGradeForm__loading-backdrop {
  background-color: white;
  bottom: 0;
  left: 0;
  opacity: 0.5;
  position: fixed;
  right: 0;
  top: 0;
}

.SubmitGradeForm__submit-spinner {
  @include mixins.spinner(100px);
}

.SubmitGradeForm__fetch-spinner {
  @include mixins.spinner(28px);
  animation-duration: 0.5s;
  visibility: hidden;
  animation-fill-mode: forwards;
  &--fade-away {
    animation-name: fadeAway;
  }
  &--active {
    visibility: inherit;
  }
}
