<html>
  <head> 
    <style> 
    body {
      font-family:verdana; margin:.5in;
      font-size:smaller;
    } 
    .path_ux {
      display:none;
      margin-top:1em;
    }
    input {
      margin-top: 1em;
    }
    </style> 
    <script>
var endpoint = '{{ lti_credentials_url }}';

function getRVBN(rName) {
    var radioButtons = document.getElementsByName(rName);
    for (var i = 0; i < radioButtons.length; i++) {
        if (radioButtons[i].checked)
            return radioButtons[i];
    }
    return '';
}

function get_value(id) {
  return document.querySelector('#' + id).value;
}

function makeRequest (opts) {
//  alert('makeRequest: ' + opts.url);
  return new Promise(function (resolve, reject) {
    var xhr = new XMLHttpRequest();
    xhr.open(opts.method, opts.url);
    xhr.onload = function () {
      if (this.status >= 200 && this.status < 300) {
        resolve(xhr.response);
      } else {
        reject({
          status: this.status,
          statusText: xhr.statusText
        });
      }
    };
    xhr.onerror = function () {
      reject({
        status: this.status,
        statusText: xhr.statusText
      });
    };
    if (opts.headers) {
      Object.keys(opts.headers).forEach(function (key) {
        xhr.setRequestHeader(key, opts.headers[key]);
      });
    }
    var params = opts.params;
    if (params && typeof params === 'object') {
      params = Object.keys(params).map(function (key) {
        return encodeURIComponent(key) + '=' + encodeURIComponent(params[key]);
      }).join('&');
    }
    xhr.send(params);
  });
}

function show() {
  document.querySelector('#results').innerHTML = '';
  var path = getRVBN('path_choice').value;
  console.log(path);
  if ( path == 'path_a' ) {
    document.getElementById('path_a_ux').style.display = 'block';
    document.getElementById('path_b_ux').style.display = 'none';
    document.getElementById('path_go').style.display = 'block';
    }
  if ( path =='path_b' ) {
    document.getElementById('path_a_ux').style.display = 'none';
    document.getElementById('path_b_ux').style.display = 'block';
    document.getElementById('path_go').style.display = 'block';
    }
  }

function go() {
  console.log('go');
  var path = getRVBN('path_choice').value;
  console.log('path');

  var json = '';

  if ( path == 'path_a' ) {
    json = { 
               "path_a_email"  : get_value('path_a_email'),
               "path_a_key"    : get_value('path_a_key'),
               "path_a_secret" : get_value('path_a_secret'),
               "path_a_host"   : get_value('path_a_host') 
               };
    }

  if ( path == 'path_b' ) {
    json = { 
               "path_b_email"        : get_value('path_b_email'),
               "path_b_firstname"    : get_value('path_b_firstname'),
               "path_b_lastname"     : get_value('path_b_lastname'),
               "path_b_token"        : get_value('path_b_token'),
               "path_b_host"         : get_value('path_b_host') 
               };
    }

  json = JSON.stringify(json);
  console.log(json);

  var options = {
    method: 'POST',
    url: endpoint + '?credentials=' + encodeURIComponent(json),
    headers: {"Content-type":"application/json" },
    params: json
    };

  makeRequest(options)
    .then ( function (data) {
      document.querySelector('#results').innerHTML = data;
    });

  }
    </script>
  </head>
  <body>

    <div>
      I am sending credentials for:

      <div>
        <input onchange="javascript:show()"
               type="radio"
               name="path_choice"
               value="path_a">
        <a target="_doc"
           title="read documentation for path A"
           href="https://docs.google.com/document/d/13FFtk2qRogtU3qxR_oa3kq2ak-S_p7HHVnNM12eZGy8/#heading=h.iigzwjedcwpf">
           Path A
        </a> (administrator-provided key and secret)
      </div>
      <div>
        <input onchange="javascript:show()"
               type="radio"
               name="path_choice"
               value="path_b">
          <a target="_doc"
             title="read documentation for path B"
             href="https://docs.google.com/document/d/13FFtk2qRogtU3qxR_oa3kq2ak-S_p7HHVnNM12eZGy8/#heading=h.9gwdor9wzz56">
             Path B
          </a> (teacher-provided token)
      </div>

      <div class="path_ux" id="path_a_ux">
      <div>
        <input id="path_a_email"></input>
        Email
      </div>
      <div>
        <input id="path_a_key"></input>
        Consumer Key
      </div>
      <div>
        <input id="path_a_secret"></input>
        Shared Secret
      </div>
      <div>
        <input id="path_a_host"></input>
        Canvas Server (example: canvas.myschool.edu)
      </div>
    </div>

    <div class="path_ux" id="path_b_ux">
      <div>
        <input id="path_b_firstname"></input>
        First Name
      </div>
      <div>
        <input id="path_b_lastname"></input>
        Last Name
      </div>
      <div>
        <input id="path_b_email"></input>
        Email
      </div>
      <div>
        <input id="path_b_token"></input>
        Canvas Token
      </div>
      <div>
        <input id="path_b_host"></input>
        Canvas Server (example: canvas.myschool.edu)
      </div>
    </div>

    <div class="path_ux" id="path_go">
      <input type="button" value="go" onclick="javascript:go()"></input>
    </div>
  </div>

  <div id="results"></div>

  </body>
</html>
