<html>
  <head> 
    <style> 
    body {
      font-family:verdana; margin:.5in;
      font-size:smaller;
    } 
    .path_ux {
      margin-top:1em;
    }
    input {
      margin-top: 1em;
    }
    </style> 
    <script>
var endpoint = '{{ lti_credentials_url }}';

function getRVBN(rName) {
    var radioButtons = document.getElementsByName(rName);
    for (var i = 0; i < radioButtons.length; i++) {
        if (radioButtons[i].checked)
            return radioButtons[i];
    }
    return '';
}

function get_value(id) {
  return document.querySelector('#' + id).value;
}

function makeRequest (opts) {
//  alert('makeRequest: ' + opts.url);
  return new Promise(function (resolve, reject) {
    var xhr = new XMLHttpRequest();
    xhr.open(opts.method, opts.url);
    xhr.onload = function () {
      if (this.status >= 200 && this.status < 300) {
        resolve(xhr.response);
      } else {
        reject({
          status: this.status,
          statusText: xhr.statusText
        });
      }
    };
    xhr.onerror = function () {
      reject({
        status: this.status,
        statusText: xhr.statusText
      });
    };
    if (opts.headers) {
      Object.keys(opts.headers).forEach(function (key) {
        xhr.setRequestHeader(key, opts.headers[key]);
      });
    }
    var params = opts.params;
    if (params && typeof params === 'object') {
      params = Object.keys(params).map(function (key) {
        return encodeURIComponent(key) + '=' + encodeURIComponent(params[key]);
      }).join('&');
    }
    xhr.send(params);
  });
}

function go() {
  console.log('go');

  var json = '';

  json = {
    "path_a_email"  : get_value('path_a_email'),
    "path_a_key"    : get_value('path_a_key'),
    "path_a_secret" : get_value('path_a_secret'),
    "path_a_host"   : get_value('path_a_host')
  };

  json = JSON.stringify(json);
  console.log(json);

  var options = {
    method: 'POST',
    url: endpoint + '?credentials=' + encodeURIComponent(json),
    headers: {"Content-type":"application/json" },
    params: json
    };

  makeRequest(options)
    .then ( function (data) {
      document.querySelector('#results').innerHTML = data;
    });

  }
    </script>
  </head>
  <body>
    <div>
      I am sending credentials for
      (<a href="https://docs.google.com/document/d/13FFtk2qRogtU3qxR_oa3kq2ak-S_p7HHVnNM12eZGy8/#heading=h.iigzwjedcwpf">docs</a>):

      <div class="path_ux">
      <div>
        <input id="path_a_email"></input>
        Email
      </div>
      <div>
        <input id="path_a_key"></input>
        Consumer Key
      </div>
      <div>
        <input id="path_a_secret"></input>
        Shared Secret
      </div>
      <div>
        <input id="path_a_host"></input>
        Canvas Server (example: canvas.myschool.edu)
      </div>
    </div>

    <div class="path_ux" id="path_go">
      <input type="button" value="go" onclick="javascript:go()"></input>
    </div>
  </div>

  <div id="results"></div>

  </body>
</html>
