{# The template used to render a PDF annotation assignment. #}
<html>
  <head>
  <style>
    body {
      font-family:verdana; margin:.5in;
    }
  </style>
  </head>
  <body>
    {% include 'lti:templates/includes/assignment_boilerplate.html.jinja2' %}
    <p><i>{{ name }}</i></p>
    {% if lis_result_sourcedid %}
      {% include 'lti:templates/includes/submission_form.html.jinja2' %}
    {% endif %}
    <iframe width="100%%" height="1000px" src="/viewer/web/viewer.html?file={{ hash }}.pdf"></iframe>
  </body>
</html>
