{% extends 'templates/base.plain.html.jinja2' %}

{% set title = "Expired link" %}

{% block content %}
<p>
    The link that you clicked on has expired.
    Try clicking a link in a more recent email instead.
</p>
<p>
    If the problem persists, you can
     <a href="https://web.hypothes.is/get-help/?product=LMS_app" target="_blank" rel="noopener noreferrer">open a support ticket</a>
     or visit our <a href="https://web.hypothes.is/help/" target="_blank" rel="noopener noreferrer">help documents</a>.
</p>
{% endblock %}
