{% extends 'templates/base.plain.html.jinja2' %}

{% block content %}
{% for message in request.session.pop_flash() %}
  <p><b>{{ message }}</b></p>
{% endfor %}

<form action="" method="post">
  <fieldset>
    <legend>Receive email notifications when your students annotate. Select
    the days you'd like your emails:</legend>

    <ul style="list-style-type:none;">
      <li><input type="checkbox" id="sunday" name="instructor_email_digests.days.7" {% if preferences["instructor_email_digests.days.7"] %}checked{% endif %} />
      <label for="sunday">Sunday</label></li>
      <li><input type="checkbox" id="monday" name="instructor_email_digests.days.1" {% if preferences["instructor_email_digests.days.1"] %}checked{% endif %} />
      <label for="monday">Monday</label></li>
      <li><input type="checkbox" id="tuesday" name="instructor_email_digests.days.2" {% if preferences["instructor_email_digests.days.2"] %}checked{% endif %} />
      <label for="tuesday">Tuesday</label></li>
      <li><input type="checkbox" id="wednesday" name="instructor_email_digests.days.3" {% if preferences["instructor_email_digests.days.3"] %}checked{% endif %} />
      <label for="wednesday">Wednesday</label></li>
      <li><input type="checkbox" id="thursday" name="instructor_email_digests.days.4" {% if preferences["instructor_email_digests.days.4"] %}checked{% endif %} />
      <label for="thursday">Thursday</label></li>
      <li><input type="checkbox" id="friday" name="instructor_email_digests.days.5" {% if preferences["instructor_email_digests.days.5"] %}checked{% endif %} />
      <label for="friday">Friday</label></li>
      <li><input type="checkbox" id="saturday" name="instructor_email_digests.days.6" {% if preferences["instructor_email_digests.days.6"] %}checked{% endif %} />
      <label for="saturday">Saturday</label></li>
    </ul>
  </fieldset>

  <button type="submit">Save</button>
</form>
{% endblock %}
