{% extends 'templates/base.plain.html.jinja2' %}

{% block content %}
{% for message in request.session.pop_flash() %}
  <p><b>{{ message }}</b></p>
{% endfor %}

<form action="" method="post">
  <fieldset>
    <legend>Receive email notifications when your students annotate. Select
    the days you'd like your emails:</legend>

    <ul style="list-style-type:none;">
      <li><input type="checkbox" id="sunday" name="sunday" {% if preferences.sunday %}checked{% endif %} />
      <label for="sunday">Sunday</label></li>
      <li><input type="checkbox" id="monday" name="monday" {% if preferences.monday %}checked{% endif %} />
      <label for="monday">Monday</label></li>
      <li><input type="checkbox" id="tuesday" name="tuesday" {% if preferences.tuesday %}checked{% endif %} />
      <label for="tuesday">Tuesday</label></li>
      <li><input type="checkbox" id="wednesday" name="wednesday" {% if preferences.wednesday %}checked{% endif %} />
      <label for="wednesday">Wednesday</label></li>
      <li><input type="checkbox" id="thursday" name="thursday" {% if preferences.thursday %}checked{% endif %} />
      <label for="thursday">Thursday</label></li>
      <li><input type="checkbox" id="friday" name="friday" {% if preferences.friday %}checked{% endif %} />
      <label for="friday">Friday</label></li>
      <li><input type="checkbox" id="saturday" name="saturday" {% if preferences.saturday %}checked{% endif %} />
      <label for="saturday">Saturday</label></li>
    </ul>
  </fieldset>

  <button type="submit">Save</button>
</form>
{% endblock %}
