{% extends "lms:templates/base.html.jinja2" %}

{% block content %}
{% if request.feature("new_oauth") %}
<div id="app"></div>
{% else %}
<form form id="launch-form" action="{{ content_item_return_url  }}" method="post"
      onsubmit="contentItemSelection.handleSubmit(event, this)" enctype="application/x-www-form-urlencoded">
  <input type="hidden" name="content_items" />
  <main class="modal-content">
    <p class="modal-text">Note: sharing a file in this way creates a shared link for your course to access.</p>
    <div class="document-contain">
      <div class="input">
        <label for="url">Public Document URL</label>
          {% for field in form_fields.keys() %}
            <input type="hidden" value="{{ form_fields[field] }}" name="{{ field }}" />
          {% endfor %}
        <input id="url" type="text" name="document_url" onchange="contentItemSelection.resetError(this)"/>
        <span class="error"></span>
      </div>
      <button class="btn btn--gray" onclick="contentItemSelection.showGoogleDriveFilePicker(event)">Use Google Picker</button>
      <span id="file-picker" />
    </div>
    <div class="form-controls">
      <button class="btn" id="content-item-submit" type="submit">Submit</button>
    </div>
  </main>
</form>
{% endif %}
{% endblock %}

{% block base_styles %}
{% if not request.feature("new_oauth") %}
{{ super() }}
{% endif %}
{% endblock %}

{% block styles %}
{% if request.feature("new_oauth") %}
{% for url in  asset_urls("file_picker_v2_css") %}
<link rel="stylesheet" href="{{ url }}">
{% endfor %}
{% else %}
{{ super() }}
{% endif %}
{% endblock %}

{% block scripts %}
{% if request.feature("new_oauth") %}
{% for url in asset_urls("file_picker_v2_js") %}
<script async defer src="{{ url }}"></script>
{% endfor %}

<script class="js-config" type="text/json">
{
  "authToken": "{{ js_config.authorization_param }}",
  "authUrl": "{{ request.route_url('canvas_api.authorize') }}",
  "courseId": "{{ course_id }}",
  "formAction": "{{ content_item_return_url }}",
  "formFields": {{ form_fields | tojson }},
  "googleClientId": "{{ google_client_id }}",
  "googleDeveloperKey": "{{ google_developer_key }}",
  "lmsName" : "Canvas",
  "lmsUrl": "{{ lms_url }}",
  "ltiLaunchUrl": "{{ lti_launch_url }}"
}
</script>

{% else %}
<script type="text/javascript">
  window.DEFAULT_SETTINGS = {
    apiUrl: '{{api_url}}',
    jwt: '{{jwt}}',
    courseId: '{{course_id}}',

    lmsUrl: '{{ lms_url }}',
    ltiLaunchUrl: '{{ lti_launch_url }}',

    googleDeveloperKey: '{{ google_developer_key }}',
    googleClientId: '{{ google_client_id }}',
  }
</script>

{% if course_id %}
  {% for url in asset_urls("file_picker_js") %}
    <script src="{{ url }}"></script>
  {% endfor %}
{% endif %}

{% for url in asset_urls("content_item_selection_js") %}
<script src="{{ url }}"></script>
{% endfor %}
<script type="text/javascript" src="https://apis.google.com/js/api.js?onload=gapiLoaded"></script>
{% endif %}
{% endblock %}
