// Custom compilation settings for the `browser_check` bundle. This is intended
// to work in old browsers that are not supported by the main LMS frontend.
//
// This baseline here is based on browsers that support `<script type="module">`.
{
  "presets": [
    ["@babel/preset-env", {
       "targets": {
         "chrome": "61",
         "firefox": "60",
         "safari": "10"
      }
    }]
  ]
}
