<h2>Paste these into your lms</h2>
<table>
  <tr>
    <th>Consumer Key</th>
    <th>Shared Secret</th>
  </tr>
  <tr>
    <td>{{ consumer_key }}</td>
    <td>{{ shared_secret }}</td>
  </tr>
</table>
