<form action="/welcome" method="post">
  <div>
    <label for="lms_url">LMS Domain</label>
    <input type="text" name="lms_url" placeholder="eg. atomcicjolt.instructure.com">
  </div>
  <div>
    <label for="email">Email</label>
    <input type="text" name="email">
  </div>
  <button type="submit">Submit</button>
</form>
