// Enable Tailwind base layer. Apply CSS normalize & reset (Tailwind preflight)
@use 'tailwindcss/base';

// Element styles
@layer base {
  html,
  body {
    height: 100%;
  }

  // Base typography styling
  body {
    @apply font-sans;
    @apply text-tiny;
    @apply text-grey-9;
  }

  :root {
    // This is the same as default tailwind values
    // Once our overwrites have been removed from the preset, this can be dropped
    --h-border-radius: 0.25rem;
    --h-border-radius-lg: 0.5rem;
  }
}
