// Enable Tailwind components layer
@use 'tailwindcss/components';

@layer components {
  // A warning banner shown at the top of the view in unsupported browsers.
  // This is styled to match warning toasts and banners in the Hypothesis client.
  .browser-check-warning {
    @apply fixed left-[5px] top-[5px] right-[5px];
    @apply flex items-center;
    @apply bg-white border-[2px] border-solid border-yellow-notice;
    padding: 0.75rem;

    // In case the frontend app does load (partially or fully),
    // raise the banner above any content that it renders.
    z-index: 10000;
  }
}
