@use 'sass:math';

@use 'variables' as var;

// Typography
// ----------
@mixin font-small {
  font-size: var.$small-font-size;
  line-height: var.$small-line-height;
  font-weight: 400;
  letter-spacing: 0.2px;
}

@mixin font-normal {
  font-size: var.$normal-font-size;
  line-height: var.$normal-line-height;
  font-weight: 400;
}

// Mobile
// ------
// Mixin for styling elements to make them more finger-friendly on touch-input
// devices.
//
// Use interaction media queries where available (see
// http://caniuse.com/#feat=css-media-interaction) or fall back to relying on a
// JS-added class on the <html> or <body> elements otherwise.
@mixin touch-input {
  @media (pointer: coarse) {
    @content;
  }
  .env-touch {
    @content;
  }
}
