// Colors.
$white: white;

$grey-1: #f2f2f2;
$grey-2: #ececec;
$grey-3: #dbdbdb;
$grey-4: #a6a6a6;
$grey-5: #7a7a7a;
$grey-6: #3f3f3f;
$grey-7: #202020;

$brand: #d00032;

$color-success: #00a36d;
$color-notice: #fbc168;
$color-error: #d93c3f;

// Typography.
$sans-font-family: 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande',
  sans-serif !default;
$mono-font-family: Open Sans Mono, Menlo, DejaVu Sans Mono, monospace !default;

$normal-font-size: 13px;
$normal-line-height: 15px;

$small-font-size: 11px;
$small-line-height: 12px;

$title-font-size: 19px;
$subtitle-font-size: 15px;

$input-font-size: 15px;

// Minimum font size for <input> fields on iOS. If the font size is smaller than
// this, iOS will zoom into the field when focused.
$touch-input-font-size: 16px;

// Accessibility.
$touch-target-size: 44px;

$spinner-size: 100px;
