$color-text: #202020;

$color-notice: #fbc168;

// Typography.
$sans-font-family: 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande',
  sans-serif !default;
$mono-font-family: Open Sans Mono, Menlo, DejaVu Sans Mono, monospace !default;

$normal-font-size: 13px;
$normal-line-height: 15px;
