@import 'normalize.css';

@import 'mixins';
@import 'variables';

// Shared classes.
@import 'utils';
@import 'typography';

// HTML components.
@import 'components/label';

// Generic React components.
@import 'components/Button';
@import 'components/Dialog';
@import 'components/Table';

// LMS file picker React components.
@import 'components/FileList';
@import 'components/FilePickerApp';
@import 'components/LMSFilePicker';
@import 'components/URLPicker';

// Element styles.
body {
  font-family: $sans-font-family;
  font-size: $normal-font-size;
  line-height: $normal-line-height;
}

