@use 'normalize.css/normalize';

@use 'mixins';
@use 'variables' as *;

// Additional mixins.
@use 'mixins/focus';

// Shared classes.
@use 'utils';
@use 'typography';

// HTML components.
@use 'components/heading';
@use 'components/label';

// Generic React components.
// Note: Some of these are also used by server-rendered HTML templates, not
// just by React code.
@use 'components/Button';
@use 'components/Dialog';
@use 'components/Table';

// React components.
@use 'components/BasicLtiLaunchApp';
@use 'components/DialogTestsAndExamples';
@use 'components/ErrorDisplay';
@use 'components/FileList';
@use 'components/FilePickerApp';
@use 'components/LMSFilePicker';
@use 'components/LMSGrader';
@use 'components/StudentSelector';
@use 'components/SubmitGradeForm';
@use 'components/ValidationMessage';
@use 'components/SvgIcon';
@use 'components/URLPicker';


// Element styles.
body {
  font-family: $sans-font-family;
  font-size: $normal-font-size;
  line-height: $normal-line-height;
}
