@use 'normalize.css/normalize';

// Shared classes
@use 'utils';
@use 'typography';

// HTML components
@use 'components/browser-check-warning';
@use 'components/heading';
@use 'components/label';

// Styling for components rendered both by Preact and other HTML (eg. server-rendered templates)
@use 'components/Button';

// Preact components
@use 'components/BasicLtiLaunchApp';
@use 'components/BookList';
@use 'components/Dialog';
@use 'components/ErrorDisplay';
@use 'components/FileList';
@use 'components/FilePickerApp';
@use 'components/LMSGrader';
@use 'components/StudentSelector';
@use 'components/SubmitGradeForm';
@use 'components/Table';
@use 'components/ValidationMessage';
@use 'components/SvgIcon';

// Element styles
@use 'variables' as var;

body {
  font-family: var.$sans-font-family;
  font-size: var.$normal-font-size;
  line-height: var.$normal-line-height;
}
