/* CSS Entry point for front-end (preact) app */

@import 'tailwindcss' source(none);

@source '../**/*.{js,ts,tsx}';
@source '../../../node_modules/@hypothesis/frontend-shared/lib/**/*.js';

@import '@hypothesis/frontend-shared/tailwind-config.css';

@layer base {
  html,
  body {
    height: 100%;
  }

  /* Base typography styling */
  body {
    @apply font-sans;
    @apply text-tiny;
    @apply text-grey-9;
  }

  /* See https://tailwindcss.com/docs/upgrade-guide#default-border-color. */
  * {
    border-color: #dbdbdb;
  }
}

@theme {
  --animate-grade-submit-success: grade-submit-success 2s ease-out forwards;

  @keyframes grade-submit-success {
    0% { background-color: var(--color-green-success); }
    100% { background-color: transparent; }
  }

  --font-sans: "Helvetica Neue", Helvetica, Arial, Lucida Grande, sans-serif;
  --text-tiny: 13px;
  --text-tiny--line-height: 15px;

  /* See https://tailwindcss.com/docs/upgrade-guide#default-ring-width-and-color. */
  --default-ring-width: 2px;
  --default-ring-color: #59a7e8;
}

@layer components {
  /* A warning banner shown at the top of the view in unsupported browsers.
     This is styled to match warning toasts and banners in the Hypothesis client. */
  .browser-check-warning {
    @apply fixed left-[5px] top-[5px] right-[5px];
    @apply flex items-center;
    @apply border-[2px] border-solid border-yellow-notice;
    background-color: white;
    @apply p-3;

    /* In case the frontend app does load (partially or fully),
       raise the banner above any content that it renders. */
    z-index: 10000;
  }
}
