@use 'normalize.css/normalize';

// Shared classes
@use 'utils';
@use 'typography';

// HTML components
@use 'components/browser-check-warning';
@use 'components/heading';
@use 'components/label';

// Preact components
@use 'components/BasicLTILaunchApp';
@use 'components/BookList';
@use 'components/ContentSelector';
@use 'components/Dialog';
@use 'components/ErrorDisplay';
@use 'components/FileList';
@use 'components/FilePickerApp';
@use 'components/FullScreenSpinner';
@use 'components/LMSGrader';
@use 'components/StudentSelector';
@use 'components/SubmitGradeForm';
@use 'components/Table';
@use 'components/ValidationMessage';
@use 'components/SvgIcon';

// Element styles
@use 'variables' as var;

// Shared styles from frontend-shared package
@use '@hypothesis/frontend-shared/styles';

// Make the shared package utility styles available for
// initial prototyping purposes.
// NB: These styles have not been made explicitly public by this package
// yet, so this inclusion may be temporary.
@use '@hypothesis/frontend-shared/styles/util' as hyp-u;

// This ensures that root components which set `width: 100%; height: 100%`
// (eg. the `BasicLTILaunchApp`) will fill the viewport.
html,
body {
  height: 100%;
}

body {
  font-family: var.$sans-font-family;
  font-size: var.$normal-font-size;
  line-height: var.$normal-line-height;
  color: var.$color-text;
}

button,
input[type='button'],
input[type='reset'],
input[type='submit'] {
  cursor: pointer;
}
