@use 'normalize.css/normalize';

@use 'variables' as var;

* {
  box-sizing: border-box;
}

body {
  font-family: var.$sans-font-family;
  font-size: var.$normal-font-size;
  color: var.$color-text;
}

.data {
  font-family: 'Inconsolata', 'Hack', 'Courier New', 'Courier', monospace;
}
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
}
.modal-content {
  padding: 80px 30px;
}
.modal-text {
  color: #333;
  max-width: 550px;
  font-size: 18px;
  line-height: 1.4em;
}
.modal-subtext {
  margin: -10px 0 20px;
  font-size: 14px;
  color: #595959;
  font-weight: 400;
  max-width: 550px;
}
.input {
  position: relative;
  max-width: 500px;
  width: 100%;
  margin-bottom: 20px;
}
.input.has-error input {
  border-color: #d00032;
}
.input.has-error .error {
  display: block;
}
.input label {
  display: block;
  margin-bottom: 5px;
  font-size: 13px;
  color: #595959;
  font-weight: 500;
}
.input input {
  width: 100%;
  font-size: 16px;
  color: #333;
  font-weight: 400;
  padding: 0 10px;
  min-height: 35px;
  border-radius: 3px;
  border: 1px solid #ccc;
}
.input input:focus {
  border-color: #52a7e7;
  outline: none;
  box-shadow: 0 0 5px #52a7e7;
}
.error {
  display: none;
  font-size: 13px;
  color: #d00032;
  font-weight: 500;
  margin-top: 5px;
  text-align: right;
}
.btn {
  min-height: 35px;
  background: #3f3f3f;
  border-radius: 3px;
  text-align: center;
  font-size: 16px;
  color: #fff;
  font-weight: 500;
  padding: 0 15px;
  transition: all 0.1s ease;
  border: none;
}
.btn:hover {
  cursor: pointer;
  background: #d00032;
}
.btn--gray {
  background: #eee;
  color: #595959;
  margin-left: 10px;
}
.btn--gray:hover {
  background: #dedede;
  color: #444;
}
.btn:active {
  transform: scale(0.975);
}
.copy {
  position: absolute;
  bottom: 0;
  right: 0;
  min-height: 35px;
  background: #eee;
  border-radius: 0 3px 3px 0;
  text-align: center;
  font-size: 16px;
  color: #595959;
  font-weight: 500;
  padding: 0 15px;
  transition: all 0.1s ease;
  border: 1px solid #ccc;
}
.copy:hover {
  cursor: pointer;
  color: #444;
  background: #dedede;
}

.copy:focus {
  border-color: #52a7e7;
  outline: none;
  box-shadow: 0 0 5px #52a7e7;
}

.form-controls {
  max-width: 500px;
  display: flex;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  justify-content: flex-end;
  -webkit-justify-content: flex-end;
}

.btn:hover {
  box-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.25);
  cursor: pointer;
}

.btn--gray {
  background: #f5f5f5;
  border: 0.1rem solid #dddddd;
}

.btn--red {
  background: #5d5d5d;
  color: #ffffff;
}

.btn--red:hover {
  background: #d00032;
}

.table {
  border-spacing: 0.5rem;
  border-collapse: collapse;
  max-width: 100%;

  & th {
    border-bottom: 2px solid #dddddd;
  }

  & tr:nth-child(odd) {
    /* Zebra-stripe the rows */
    background: #eee;
  }

  & th,
  & td {
    padding: 0.25em;
    border: 1px solid #ddd;
  }

  & td.wrap {
    /* wrap veryyyyyyyy long data */
    white-space: normal;
    word-break: break-all;
  }
}

/* Horizontally center an element's direct children. */
.u-horizontally-center-children {
  display: flex;
  flex-direction: column;
  align-items: center;
}
