*{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  vertical-align: top;
}
html, html a {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
}
html{
  height: 100%;
  font-size: 10px;
}
.modal-content{
  padding: 30px;
}
.modal-text{
  margin: 0 0 20px;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  color: #333;
  font-weight: 500;
  max-width: 550px;
}
.modal-subtext{
  margin: -10px 0 20px;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  color: #595959;
  font-weight: 400;
  max-width: 550px;
}
.input{
  position: relative;
  max-width: 500px;
  width: 100%;
  margin-bottom: 20px;
}
.input.has-error input{
  border-color: #d00032;
}
.input.has-error .error{
  display: block;
}
.input label{
  display: block;
  margin-bottom: 5px;
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
  color: #595959;
  font-weight: 500;
}
.input input{
  width: 100%;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: #333;
  font-weight: 400;
  padding: 0 10px;
  min-height: 35px;
  border-radius: 3px;
  border: 1px solid #ccc;
}
.input input:focus{
  border-color: #52A7E7;
  outline: none;
  box-shadow: 0 0 5px #52a7e7;
}
.error{
  display: none;
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
  color: #d00032;
  font-weight: 500;
  margin-top: 5px;
  text-align: right;
}
.btn{
  min-height: 35px;
  background: #3f3f3f;
  border-radius: 3px;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: #fff;
  font-weight: 500;
  padding: 0 15px;
  transition: all 0.1s ease;
  border: none;
}
.btn:hover{
  cursor: pointer;
  background: #d00032;
}
.btn--gray{
  background: #eee;
  color: #595959;
  margin-left: 10px;
}
.btn--gray:hover{
  background: #dedede;
  color: #444;
}
.btn:active{
  transform: scale(0.975);
}
.copy{
  position: absolute;
  bottom: 0;
  right: 0;
  min-height: 35px;
  background: #eee;
  border-radius: 0 3px 3px 0;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: #595959;
  font-weight: 500;
  padding: 0 15px;
  transition: all 0.1s ease;
  border: 1px solid #ccc;
}
.copy:hover{
  cursor: pointer;
  color: #444;
  background: #dedede;
}
.copy:focus{
  border-color: #52A7E7;
  outline: none;
  box-shadow: 0 0 5px #52a7e7;
}
.form-controls{
  max-width: 500px;
  display: flex;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  justify-content: flex-end;
  -webkit-justify-content: flex-end;
}
.document-contain{
  max-width: 500px;
  display: flex;
  align-items: center;
}
.document-contain .input{
  flex: 1;
}
.warning-text{
  margin: 0 0 20px;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  color: #333;
  font-weight: 500;
  text-align: center;
  margin: 10rem;
  margin-top: 1rem;
  max-width: 550px;
}
.warning-icon{
  text-align: center;
  margin: 10rem;
  margin-bottom: 0;
  max-width: 550px;
}

.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; } /* Default */
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }
.material-icons.red {color: #D04545;}
</style>
