{% extends "templates/base.html.jinja2" %}

{% block title %}Application Instances{% endblock %}

{% block content %}
    <div id="content">
        <a href="{{ logout_url }}">Logout</a>
        <br/>
        <p>There are {{ apps|length }} application instances:</p>
        <table border="1">
            <tr>
                <th>Created At</th>
                <th>Lms Url</th>
                <th>Signup Email</th>
                <th>Consumer Key</th>
            </tr>
        {% for row in apps %}
            <tr>
                <td>{{  row['created']  }}</td>
                <td>{{  row['lms_url']  }}</td>
                <td>{{  row['requesters_email']  }}</td>
                <td>{{  row['consumer_key']  }}</td>
            </tr>
        {% endfor %}
        </table>

        <br/>

        <p>There have been {{ num_launches }} lti launches:</p>
        <table border="1">
            <tr>
                <th>Context ID</th>
                <th>Number of Launches</th>
                <th>Lms Url</th>
                <th>Signup Email</th>
                <th>Consumer Key</th>
            </tr>
        {% for row in launches %}
            <tr>
              {% for element in row %} 
                <td>{{  element  }}</td>
              {% endfor %}
            </tr>
        {% endfor %}
        </table>
    </div>
{% endblock %}
