<p>This document is annotatable using
<a href="https://hypothes.is">Hypothes.is</a>. You can click highlighted text
or expand the sidebar to view existing annotations. You'll need to register for
(or log in to) an account in order to create annotations; you can do so in the
Hypothesis sidebar.</p>
