{# Template for assignment submission form #}
<script>
function receiveMessage(event) {
  if (event.origin !== "{{ client_origin }}") {
    return;
  }

  if (!event.data.result) {
    return;
  }

  var uris = encodeURIComponent(JSON.stringify(event.data.result));

  var h_user = document.querySelector('#h_username').value.trim();
  var submit_url = '/lti_submit?oauth_consumer_key={{ oauth_consumer_key }}&lis_outcome_service_url={{ lis_outcome_service_url }}&lis_result_sourcedid={{ lis_result_sourcedid }}';
  var export_url = '{{ lti_server }}/lti_export?args=' + encodeURIComponent('uris=' + uris + '&user=' + h_user);
  submit_url += '&export_url=' + encodeURIComponent(export_url);
  location.href = submit_url;
}

window.addEventListener("message", receiveMessage, false);

function make_submit_url() {
    // We can't find out which iframe is the client's iframe (same-origin
    // policy prevents this) but we can iterate over _every_ iframe in the
    // "viewer" iframe and call postMessage() on each of them. The
    // client_origin param ensures that the message will only actually be
    // delivered to the Hypothesis client's iframe.
    var viewer = window.frames["viewer"];
    var i;
    for (i=0; i<viewer.frames.length; i+=1) {
      viewer.frames[i].postMessage({
        'method': 'searchUris',
        'id': 0,
      }, "{{ client_origin }}");
    }
}
function clear_input() {
  var h_user = document.querySelector('#h_username');
  var check_element = document.getElementById('check_username');
  h_user.value = '';
  check_element.querySelector('a').innerText = '';
  check_element.querySelector('a').href = '';

}
function show_stream_link() {
    var h_user = document.querySelector('#h_username').value.trim();
    var check_element = document.getElementById('check_username');
    check_element.style.display = 'inline';
    check_element.querySelector('a').innerText = h_user;
    check_element.querySelector('a').href = 'https://hypothes.is/stream?q=user:' + h_user;
}
</script>
<p>
When you're done annotating:
<div>1. Enter your Hypothesis username: <input onfocus="javascript:clear_input()" onchange="javascript:show_stream_link()" id="h_username"></div>
<div>2. Check the name:  <span style="display:none" id="check_username"> <a target="stream" title="check your name" href=""> </a></span>
<div>3. Click <input type="button" value="Submit Assignment" onclick="javascript:make_submit_url()"></div>
</p>
