<!doctype html>
<html lang=en>
  <head>
    <meta charset=utf-8>
    <link rel="canonical" href="{{canonical_url}}" />
    <title>{{title}}</title>
  </head>
  <body>
    <main class="user-content">
      <h1 class="page-title">{{title}}</h1>
      {{body|safe}}
    </main>
  </body>
</html>
