<!doctype html>
<html lang=en>
  <head>
    <meta charset=utf-8>
    <meta name="google-site-verification" content="gaQfw17MvkfgMs1jAeZAEv0kuJTMS28lvH21_rQKBPY" />
    <title>{% block title %}Hypothesis{% endblock %}</title>
    <link rel="stylesheet"
          type="text/css"
          href="{{'lms:static/styles/lms.css'|static_path}}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">
  </head>
  <body>
    <div class="content">
      {% block content %}{% endblock %}
    </div>
  </body>
  {% block scripts %}{% endblock %}
</html>
