<!doctype html>
<html lang=en>
  <head>
    <meta charset=utf-8>
    <meta name="google-site-verification" content="gaQfw17MvkfgMs1jAeZAEv0kuJTMS28lvH21_rQKBPY" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Hypothesis{% endblock %}</title>
    {% block base_styles %}
    {% for url in asset_urls("lms_css") %}
    <link rel="stylesheet"
          type="text/css"
          href="{{ url }}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">
    {% endfor %}
    {% endblock %}
    {% block styles %}{% endblock %}
    <link rel="apple-touch-icon" sizes="152x152"
          href="{{ 'lms:static/images/apple-touch-icon-152x152.png'|static_path }}">
    <link rel="icon" type="image/png" sizes="16x16"
          href="{{ 'lms:static/images/favicons/favicon-16x16.png'|static_path }}">
    <link rel="icon" type="image/png" sizes="32x32"
          href="{{ 'lms:static/images/favicons/favicon-32x32.png'|static_path }}">
    <link rel="icon" type="image/png" sizes="96x96"
          href="{{ 'lms:static/images/favicons/favicon-96x96.png'|static_path }}">
    <link rel="icon" type="image/png" sizes="192x192"
          href="{{ 'lms:static/images/favicons/android-chrome-192x192.png'|static_path }}">
    <link rel="shortcut icon"
          href="{{ 'lms:static/images/favicons/favicon.ico'|static_path }}">
  </head>
  <body>
    <div class="content">
      {% block content %}{% endblock %}
    </div>

    {% block scripts %}
      {# We use `request.context` rather than `context` here because we still want to refer to
         the original context in exception views. #}
      {% if request.context.js_config is defined %}
        <script type="application/json" class="js-config">{{ request.context.js_config.asdict()|tojson }}</script>
      {% endif %}
    {% endblock %}
  </body>
</html>
