{% extends 'templates/base.html.jinja2' %}

{% set title = message %}

{% block content %}
  <div class="centered">
    <img src="{{ 'lms:static/images/sad-annotation.svg'|static_path }}">
    <p>
      {{ message|safe }}
    </p>
  </div>
{% endblock %}
