{% extends "lms:templates/base.html.jinja2" %}

{% block content %}
  {# The `Dialog__background` class avoids a brief flash-of-white as the frontend app loads. #}
  <div className="Dialog__background" style="width: 100%; height: 100%;" id="app"></div>
{% endblock %}

{% block styles %}
  {% for url in  asset_urls("frontend_apps_css") %}
    <link rel="stylesheet" href="{{ url }}">
  {% endfor %}
{% endblock %}

{% block scripts %}
  {{ super() }}
  {% for url in asset_urls("frontend_apps_js") %}
    <script async defer src="{{ url }}"></script>
  {% endfor %}
{% endblock %}
