{% extends 'templates/base.html.jinja2' %}

{% block content %}
  <main class="modal-content u-horizontally-center-children">
    <h1>{{title}}</h1>
    {{ message|safe }}
    </p>
  </main>
{% endblock %}
