{% extends "lms:templates/base.html.jinja2" %}

{% block content %}
{% endblock %}

{% block styles %}
{% endblock %}

{% block scripts %}
  <script type="text/javascript" src="https://js.live.net/v7.2/OneDrive.js"></script>
{% endblock %}
