{% extends "templates/base.html.jinja2" %}

{% block content %}
  <div style="max-width:50em;">
    <h1>Test Page</h2>
    <p>This is a test page. The request (server-side during request processing) was:</p>

    <ul>
      <li><code>authenticated_userid</code>: {{ request.authenticated_userid }}</li>
      <li><code>unauthenticated_userid</code>: {{ request.unauthenticated_userid }}</li>
      <li><code>effective_principals</code>: {{ request.effective_principals }}</li>
    </ul>

    <button id="button">Send JWT-authenticated XHR request</button>

    <ul id="appendHere">
    </ul>
  </div>
{% endblock %}

{% block scripts %}
  <script>
    let config = JSON.parse(document.querySelector('.js-config').textContent);
    let url = config.urls.test_xhr;
    let authorization_param = config.authorization_param;

    document.querySelector("#button").onclick = function() {
      fetch(url, {headers: {Authorization: authorization_param}})
        .then(function(response) {
          response.json().then(function(data) {
            let li = document.createElement('li');

            let p = document.createElement('p')
            p.appendChild(document.createTextNode('authenticated_userid: ' + data.authenticated_userid));
            li.appendChild(p)

            p = document.createElement('p')
            p.appendChild(document.createTextNode('unauthenticated_userid: ' + data.unauthenticated_userid));
            li.appendChild(p)

            p = document.createElement('p')
            p.appendChild(document.createTextNode('effective_principals: ' + data.effective_principals));
            li.appendChild(p)

            document.querySelector('#appendHere').appendChild(li);
          });
        });
    }
  </script>
{% endblock %}
