<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>UI component pattern library</title>
  {% for url in asset_urls("ui_playground_css") %}
    <link rel="stylesheet" href="{{ url }}"/>
  {% endfor %}
</head>
<body>
  <div id="app"></div>
  {% for url in asset_urls("ui_playground_js") %}
    <script type="module" src="{{ url }}"></script>
  {% endfor %}
</body>
</html>
