aia
aiohttp
alembic
celery
data-tasks
gunicorn
h-api
h-assets
h-pyramid-sentry
h-vialib
importlib_resources
mailchimp-transactional
marshmallow
newrelic
oauthlib
psycopg2
pycryptodomex
PyJWT[crypto]
python-jose[crypto]
pyramid
pyramid-exclog
pyramid-googleauth
pyramid-jinja2
pyramid-retry
pyramid-services
pyramid-tm
requests
requests-oauthlib
sqlalchemy
sqlparse
tabulate
webargs
xmltodict
zope.sqlalchemy
