<script type="text/javascript">
  function handleSubmit(form) {
    form.elements['url'] && (form.elements['url'].value = form.elements['url'].value + encodeURIComponent(form.elements['document_url'].value));
  }
</script>
<form id="launch-form" action="{{ launch_presentation_return_url  }}" method="post" onsubmit="handleSubmit(this)">
  <input type="hidden" value="lti_launch_url" name="return_type" />
  {% for field in form_fields.keys() %}
    <input type="hidden" value={{ form_fields[field] }} name={{ field }} />
  {% endfor %}
  <div>
    <label for="document_url">Public Document URL</label>
    <input type="text" name="document_url" />
  </div>
  <button type="submit">Submit</button>
</form>