<script type="text/javascript">
  function handleSubmit(form) {
    form.elements['url'].value = '{{ lti_launch_url }}' + encodeURIComponent(form.elements['url'].value);
  }
</script>
<form id="launch-form" action="{{ launch_presentation_return_url  }}" method="post" onsubmit="handleSubmit(this)">
  <input type="hidden" value="lti_launch_url" name="return_type" />
  <div>
    <label for="url">Public Document URL</label>
    <input type="text" name="url" />
  </div>
  <button type="submit">Submit</button>
</form>