{% import "lms:templates/admin/macros.html.jinja2" as macros %}
{% extends "lms:templates/admin/organization/base.html.jinja2" %}
{% macro org_hierarchy(node, focus_org) %}
    <li>
        {% if node.id == focus_org.id %}
            <b>(You are here)</b> {{ node.name }} - <code>{{ node.public_id }}</code>
        {% else %}
            <a href="{{ request.route_url('admin.organization', id_=node.id) }}">{{ node.name }}</a>
            - <code>{{ node.public_id }}</code>
        {% endif %}
        {% if node.children %}
            <ul>
                {% for child in sort_by_name(node.children) %}{{ org_hierarchy(child, focus_org) }}{% endfor %}
            </ul>
        {% endif %}
    </li>
{% endmacro %}
{% block content %}
    {{ macros.organization_tabs(request, org, "admin.organization") }}
    <legend class="label has-text-centered">Organization</legend>
    <form method="POST"
          action="{{ request.route_url("admin.organization", id_=org.id) }}">
        <input type="hidden" name="csrf_token" value="{{ get_csrf_token() }}">
        {{ macros.disabled_text_field("ID", org.public_id) }}
        {{ macros.form_text_field(request, "Name", "name", org.name) }}
        {{ macros.settings_textarea(org, "Notes", "hypothesis", "notes") }}
        {{ macros.created_updated_fields(org) }}
        <div class="has-text-right mb-6">
            <input type="submit" class="button is-primary" value="Save" />
        </div>
    </form>
</fieldset>
<fieldset class="box">
    <legend class="label has-text-centered">Application instances</legend>
    <div class="block has-text-right">
        <a class="button is-primary"
           href="{{ request.route_url("admin.instance.create", _query={"organization_public_id": org.public_id}) }}">
            Add New LTI 1.1 instance
        </a>
        {% if org.application_instances %}
            <a class="button"
               href="{{ request.route_url("admin.instance.search", _query={"organization_public_id": org.public_id}) }}">
                Start search
            </a>
        {% endif %}
    </div>
    {% if org.application_instances %}
        {{ macros.instances_table(request, org.application_instances) }}
    {% else %}
        <div class="is-size-5 has-text-centered">No application instances</div>
    {% endif %}
</fieldset>
<div class="box">
    <legend class="label has-text-centered">Hierarchy</legend>
    <div class="content">
        <ul>
            {{ org_hierarchy(hierarchy_root, org) }}
        </ul>
    </div>
</div>
{% endblock %}
