{% import "lms:templates/admin/macros.html.jinja2" as macros %}
{% extends "lms:templates/admin/base.html.jinja2" %}
{% block header %}Organization {{ org.id }} usage{% endblock %}
{% block content %}
    <fieldset class="box mt-6">
        <legend class="label has-text-centered">Organization</legend>
        {{ macros.organization_preview(request,org) }}
    </fieldset>

    <fieldset class="box mt-6">
        <div class="columns">
            <div class="column is-half">{{ macros.disabled_text_field("Since", since.strftime("%Y-%m-%d") ) }}</div>
            <div class="column is-half">{{ macros.disabled_text_field("Until", until.strftime("%Y-%m-%d") ) }}</div>
        </div>
    </fieldset>
    <table class="table datatable">
        <thead>
            <tr>
                <th>User</th>
                <th>Email</th>
                <th>User ID</th>
                <th>Course</th>
                <th>Course created</th>
                <th>Course ID</th>
            </tr>
        </thead>
        <tbody>
            {% for row in report %}
                <tr>
                    <td>{{ row.name }}</td>
                    <td>{{ row.email }}</td>
                    <td>{{ row.h_userid }}</td>
                    <td>{{ row.course_name }}</td>
                    <td>{{ row.course_created }}</td>
                    <td>{{ row.authority_provided_id }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
{% block extra_scripts %}
    <script>
$(function () {
   let table = $('table.datatable').DataTable({dom: 'Bfrtip',buttons: ["csv"]});
});
    </script>
{% endblock %}
