{% import "lms:templates/admin/macros.html.jinja2" as macros %}
{% extends "lms:templates/admin/base.html.jinja2" %}
{% block header %}Courses{% endblock %}
{% block content %}
    <fieldset class="box mt-6">
        <legend class="label has-text-centered">Find courses</legend>
        <form method="POST" action="{{ request.route_url("admin.courses") }}">
        <input type="hidden" name="csrf_token" value="{{ get_csrf_token() }}">
        {{ macros.form_text_field(request, "ID", "id") }}
        {{ macros.form_text_field(request, "Context ID", "context_id") }}
        {{ macros.form_text_field(request, "H ID", "h_id") }}
        {{ macros.form_text_field(request, "Organization ID", "org_public_id") }}
        {{ macros.form_text_field(request, "Name", "name") }}
        {% call macros.field_body(label="") %}
        <input type="submit" class="button is-info" value="Search" />
        {% endcall %}
        </form>
    </fieldset>
    {% if courses is defined %}
        <fieldset class="box mt-6">
            {% if courses %}
                <legend class="label has-text-centered">Results</legend>
                {{ macros.courses_table(request, courses) }}
            {% else %}
                <legend class="label has-text-centered">No results found</legend>
            {% endif %}
        </fieldset>
    {% endif %}
{% endblock %}
