{% import "lms:templates/admin/macros.html.jinja2" as macros %}
{% extends "lms:templates/admin/base.html.jinja2" %}
{% block header %}Course: {{ course.lms_name }}{% endblock %}
{% block content %}
<div>
    <fieldset>
        <legend class="label has-text-centered">Course</legend>
            {{ macros.disabled_text_field("ID", course.id) }}
            {{ macros.disabled_text_field("Name", course.name) }}
            {{ macros.disabled_text_field("H ID", course.authority_provided_id) }}
            {{ macros.created_updated_fields(course) }}
    </fieldset>

    <fieldset>
        <legend class="label has-text-centered">Assignments</legend>
        {{ macros.assignments_table(request, course.assignments) }}
    </fieldset>

    <fieldset class="box mt-6">
      <legend class="label has-text-centered">Application Instance</legend>
      {{ macros.instance_preview(request, course.application_instance) }}
    </fieldset>
    <fieldset class="box mt-6">
        <legend class="label has-text-centered">Organization</legend>
        {{ macros.organization_preview(request, course.application_instance.organization) }}
    </fieldset>

</div>
{% endblock %}
