<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Redirecting to {{ link_text }}</title>
    <meta http-equiv="refresh" content="0; url={{ redirect_url }}">
  </head>
  <body>
  <p>Redirecting to <a href="{{ redirect_url }}">{{ link_text }}</a></p>.
  </body>
</html>
