name: Deploy
concurrency:
  group: deploy
  cancel-in-progress: true
on:
  workflow_dispatch:
  push:
    branches:
      - main
    paths-ignore:
      - '.cookiecutter/**'
      - '.github/**'
      - 'docs/**'
      - 'requirements/*'
      - '!requirements/requirements.txt'
      - 'tests/**'
      - '**/.gitignore'
      - '*.md'
      - 'tox.ini'
      - 'rollup-tests.config.mjs'
      - '**/test/*'
      - '**/test-util/*'
      - '**/bootstrap.js'
      - '**/karma.config.js'
jobs:
  ci:
    name: CI
    uses: ./.github/workflows/ci.yml
  docker_hub:
    name: Docker Hub
    needs: [ci]
    uses: hypothesis/workflows/.github/workflows/dockerhub.yml@main
    with:
      Application: ${{ github.event.repository.name }}
    secrets: inherit
  qa:
    name: QA
    needs: [docker_hub]
    uses: hypothesis/workflows/.github/workflows/deploy.yml@main
    with:
      operation: deploy
      github_environment_name: QA
      github_environment_url: https://hypothesis.instructure.com/courses/125/assignments/879
      aws_region: us-west-1
      elasticbeanstalk_application: lms
      elasticbeanstalk_environment: qa
      docker_tag: ${{ needs.Docker_Hub.outputs.docker_tag }}
    secrets: inherit
  production:
    name: Production
    needs: [docker_hub, qa]
    uses: hypothesis/workflows/.github/workflows/deploy.yml@main
    with:
      operation: deploy
      github_environment_name: Production
      github_environment_url: https://hypothesis.instructure.com/courses/125/assignments/884
      aws_region: us-west-1
      elasticbeanstalk_application: lms
      elasticbeanstalk_environment: prod
      docker_tag: ${{ needs.Docker_Hub.outputs.docker_tag }}
    secrets: inherit
  production_canada:
    name: Production (Canada)
    needs: [docker_hub, qa]
    uses: hypothesis/workflows/.github/workflows/deploy.yml@main
    with:
      operation: deploy
      github_environment_name: Production (Canada)
      github_environment_url: https://hypothesis.instructure.com/courses/315/assignments/2735
      aws_region: ca-central-1
      elasticbeanstalk_application: lms
      elasticbeanstalk_environment: prod
      docker_tag: ${{ needs.Docker_Hub.outputs.docker_tag }}
    secrets: inherit
