name: Redeploy
concurrency:
  group: deploy
  cancel-in-progress: true
on:
  workflow_dispatch:
    inputs:
      qa:
        type: boolean
        description: Redeploy QA
      staging:
        type: boolean
        description: Redeploy Staging
      production:
        type: boolean
        description: Redeploy Production
      production_canada:
        type: boolean
        description: Redeploy Production (Canada)
jobs:
  qa:
    name: QA
    if: inputs.qa
    uses: hypothesis/workflows/.github/workflows/deploy.yml@main
    with:
      operation: redeploy
      github_environment_name: QA
      github_environment_url: https://hypothesis.instructure.com/courses/125/assignments/879
      aws_region: us-west-1
      elasticbeanstalk_application: lms
      elasticbeanstalk_environment: qa
    secrets: inherit
  staging:
    name: Staging
    if: inputs.staging
    uses: hypothesis/workflows/.github/workflows/deploy.yml@main
    with:
      operation: redeploy
      github_environment_name: Staging
      github_environment_url: https://hypothesis.instructure.com/courses/125/assignments/879
      aws_region: us-west-1
      elasticbeanstalk_application: lms
      elasticbeanstalk_environment: staging
    secrets: inherit
  production:
    name: Production
    if: inputs.production
    uses: hypothesis/workflows/.github/workflows/deploy.yml@main
    with:
      operation: redeploy
      github_environment_name: Production
      github_environment_url: https://hypothesis.instructure.com/courses/125/assignments/884
      aws_region: us-west-1
      elasticbeanstalk_application: lms
      elasticbeanstalk_environment: prod
    secrets: inherit
  production_canada:
    name: Production (Canada)
    if: inputs.production_canada
    uses: hypothesis/workflows/.github/workflows/deploy.yml@main
    with:
      operation: redeploy
      github_environment_name: Production (Canada)
      github_environment_url: https://hypothesis.instructure.com/courses/315/assignments/2735
      aws_region: ca-central-1
      elasticbeanstalk_application: lms
      elasticbeanstalk_environment: prod
    secrets: inherit
