# Update the nightly report stats etc.

name: Report refresh
on:
  workflow_dispatch:
  schedule:
    - cron: '30 05 * * *'

jobs:
  refresh:
    name: "Update report information"
    uses: hypothesis/workflows/.github/workflows/eb-task.yml@main
    with:
      App: ${{ github.event.repository.name }}
      Env: 'prod'
      Timeout: 5400
      Region: 'all'
      Command: 'newrelic-admin run-program python bin/run_data_task.py --config-file conf/production.ini --task report/refresh'
    secrets: inherit
